Repository Pocket/pocket-monorepo, pull requests merged in 2024-02, with the labels that each got.

#138 chore(release): release ts-logger from the monorepo
  packages/ts-logger/package.json
  pnpm-lock.yaml
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update

#125 chore(cleanup): removing migrateIds code no longer needed
  infrastructure/account-data-deleter/src/main.ts
  infrastructure/account-delete-monitor/src/main.ts
  infrastructure/annotations-api/src/main.ts
  infrastructure/client-api/src/main.ts
  infrastructure/fxa-webhook-proxy/src/main.ts
  infrastructure/image-api/src/main.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/pocket-event-bridge/src/main.ts
  infrastructure/shareable-lists-api/src/main.ts
  infrastructure/shared-snowplow-consumer/src/main.ts
  infrastructure/transactional-emails/src/main.ts
  infrastructure/user-api/src/main.ts
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, list-api-cdk/destroy, client-api-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update

#144 chore(client-api): remove outdated comment
  servers/client-api/rhai/claims_forwarding.rhai
Labels: client-api-cdk/destroy

#145 fix(cache): clear dataloader cache on refresh
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/parser-graphql-wrapper/src/refreshMutation.integration.ts
  servers/parser-graphql-wrapper/src/resolvers.ts
Labels: parser-graphql-wrapper-cdk/destroy

#142 feat(shareable-lists): paginated Items on a List
  packages/apollo-utils/src/pagination/index.ts
  packages/apollo-utils/src/pagination/types.ts
  packages/apollo-utils/src/pagination/validatePagination.spec.ts
  packages/apollo-utils/src/pagination/validatePagination.ts
  servers/shareable-lists-api/schema-public.graphql
  servers/shareable-lists-api/schema-shared.graphql
  servers/shareable-lists-api/src/config/index.ts
  servers/shareable-lists-api/src/database/OffsetPagination.ts
  servers/shareable-lists-api/src/database/mutations/ShareableList.ts
  servers/shareable-lists-api/src/database/pagination.spec.ts
  servers/shareable-lists-api/src/database/queries/ShareableListItems.ts
  servers/shareable-lists-api/src/database/types.ts
  servers/shareable-lists-api/src/models/ShareableListItem.ts
  servers/shareable-lists-api/src/public/resolvers/index.ts
  servers/shareable-lists-api/src/public/resolvers/queries/ShareableListItems.integration.ts
  servers/shareable-lists-api/src/public/resolvers/queries/sample-queries.gql.ts
  servers/shareable-lists-api/src/shared/fragments.gql.ts
  servers/shareable-lists-api/src/shared/resolvers/fields/ShareableList.ts
  servers/shareable-lists-api/src/shared/types.ts
  servers/shareable-lists-api/src/snowplow/events.spec.ts
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update

#147 fix(user-list-search): removing start/success notifications
  infrastructure/user-list-search/apollo_codedeploy.tf
Labels: user-list-search-cdk/add-or-update

#146 feat(feature-flags-client): add unleash client package
  packages/feature-flags-client/.eslintrc.js
  packages/feature-flags-client/.npmignore
  packages/feature-flags-client/README.md
  packages/feature-flags-client/jest.config.js
  packages/feature-flags-client/package.json
  packages/feature-flags-client/src/index.spec.ts
  packages/feature-flags-client/src/index.ts
  packages/feature-flags-client/src/mockClient.ts
  packages/feature-flags-client/tsconfig.json
  pnpm-lock.yaml
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update, user-list-search-cdk/add-or-update

#148 fix(user-list-search): moving user list search to s3 state
  .circleci/common.yml
  .circleci/user-list-search.yml
  infrastructure/user-list-search/dev_backend.tfvars
  infrastructure/user-list-search/locals.tf
  infrastructure/user-list-search/prod_backend.tfvars
  infrastructure/user-list-search/terraform.tf
Labels: user-list-search-cdk/add-or-update

#151 feat(snowtype): moving shared snowplow consumer to snowtype
  pnpm-lock.yaml
  servers/list-api/package.json
  servers/shared-snowplow-consumer/.eslintrc.js
  servers/shared-snowplow-consumer/README.md
  servers/shared-snowplow-consumer/package.json
  servers/shared-snowplow-consumer/snowtype.config.json
  servers/shared-snowplow-consumer/src/SqsConsumer.ts
  servers/shared-snowplow-consumer/src/config/index.ts
  servers/shared-snowplow-consumer/src/eventConsumer/collectionEvents/collectionEventConsumer.spec.ts
  servers/shared-snowplow-consumer/src/eventConsumer/collectionEvents/collectionEventConsumer.ts
  servers/shared-snowplow-consumer/src/eventConsumer/collectionEvents/types.ts
  servers/shared-snowplow-consumer/src/eventConsumer/prospectEvents/prospectEventConsumer.spec.ts
  servers/shared-snowplow-consumer/src/eventConsumer/prospectEvents/prospectEventConsumer.ts
  servers/shared-snowplow-consumer/src/eventConsumer/prospectEvents/types.ts
  servers/shared-snowplow-consumer/src/eventConsumer/shareableListEvents/shareableListEventConsumer.spec.ts
  servers/shared-snowplow-consumer/src/eventConsumer/shareableListEvents/shareableListEventConsumer.ts
  servers/shared-snowplow-consumer/src/eventConsumer/shareableListEvents/types.ts
  servers/shared-snowplow-consumer/src/eventConsumer/shareableListItemEvents/shareableListItemEventConsumer.spec.ts
  servers/shared-snowplow-consumer/src/eventConsumer/shareableListItemEvents/shareableListItemEventConsumer.ts
  servers/shared-snowplow-consumer/src/eventConsumer/shareableListItemEvents/types.ts
  servers/shared-snowplow-consumer/src/eventConsumer/userEvents/types.ts
  servers/shared-snowplow-consumer/src/eventConsumer/userEvents/userEventConsumer.spec.ts
  servers/shared-snowplow-consumer/src/eventConsumer/userEvents/userEventConsumer.ts
  servers/shared-snowplow-consumer/src/snowplow/EventHandler.ts
  servers/shared-snowplow-consumer/src/snowplow/collection/collectionEventHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/collection/collectionEventHandler.ts
  servers/shared-snowplow-consumer/src/snowplow/collection/testData.ts
  servers/shared-snowplow-consumer/src/snowplow/prospect/prospectEventHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/prospect/prospectEventHandler.ts
  servers/shared-snowplow-consumer/src/snowplow/prospect/testData.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableList/shareableListEventHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableList/shareableListEventHandler.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableList/testData.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableList/types.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableListItem/shareableListItemEventHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableListItem/shareableListItemEventHandler.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableListItem/testData.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableListItem/types.ts
  servers/shared-snowplow-consumer/src/snowplow/user/types.ts
  servers/shared-snowplow-consumer/src/snowplow/user/userEventHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/user/userEventHandler.ts
  servers/shared-snowplow-consumer/src/snowtype/.snowtype-lock.json
  servers/shared-snowplow-consumer/src/snowtype/snowplow.ts
  servers/shared-snowplow-consumer/src/sqsConsumer.spec.ts
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update, user-list-search-cdk/add-or-update

#149 feat(braze): initial import of Braze from f00327d4d94b4568a34f705f2655f62eb5c74312
  .circleci/braze.yml
  .circleci/common.yml
  .circleci/config.yml
  infrastructure/braze/.eslintrc.js
  infrastructure/braze/.terraform-version
  infrastructure/braze/README.md
  infrastructure/braze/cdktf.json
  infrastructure/braze/package.json
  infrastructure/braze/src/clickTrackingDomain.ts
  infrastructure/braze/src/config/index.ts
  infrastructure/braze/src/dataExport.ts
  infrastructure/braze/src/emailSendDomain.ts
  infrastructure/braze/src/main.ts
  infrastructure/braze/tsconfig.json
  packages/terraform-modules/src/index.ts
  pnpm-lock.yaml
  servers/user-list-search/src/test/_support/seeder.ts
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update, user-list-search-cdk/add-or-update, braze-cdk/add-or-update

#152 feat(synthetic): bumping aws synthetic version due to deprecation
  packages/terraform-modules/src/pocket/PocketCloudwatchSynthetics.ts
  packages/terraform-modules/src/pocket/__snapshots__/PocketCloudwatchSynthetics.spec.ts.snap
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update, user-list-search-cdk/add-or-update, braze-cdk/no-changes

#153 fix(lambda): bumping account delete lambdas to node18
  infrastructure/account-data-deleter/src/lambda/batchDeleteLambdaResources.ts
  infrastructure/account-delete-monitor/src/sqsEventLambda.ts
Labels: account-data-deleter-cdk/destroy, account-delete-monitor-cdk/add-or-update

#155 fix(pocket-graph): do not forward anonymous userid
  servers/annotations-api/src/context.ts
  servers/client-api/rhai/claims_forwarding.rhai
  servers/list-api/src/server/context.ts
  servers/user-list-search/src/server/context.ts
Labels: annotations-api-cdk/destroy, list-api-cdk/destroy, client-api-cdk/destroy, user-list-search-cdk/add-or-update

#156 fix(lambda): updating all lambdas to node20
  infrastructure/account-data-deleter/.terraform-version
  infrastructure/account-data-deleter/src/lambda/base/sqsLambda.ts
  infrastructure/account-data-deleter/src/lambda/batchDeleteLambdaResources.ts
  infrastructure/account-delete-monitor/.terraform-version
  infrastructure/account-delete-monitor/src/sqsEventLambda.ts
  infrastructure/annotations-api/.terraform-version
  infrastructure/annotations-api/src/SqsLambda.ts
  infrastructure/braze/.terraform-version
  infrastructure/client-api/.terraform-version
  infrastructure/feature-flags/.terraform-version
  infrastructure/fxa-webhook-proxy/.terraform-version
  infrastructure/fxa-webhook-proxy/src/apiGateway.ts
  infrastructure/fxa-webhook-proxy/src/sqsLambda.ts
  infrastructure/image-api/.terraform-version
  infrastructure/list-api/.terraform-version
  infrastructure/parser-graphql-wrapper/.terraform-version
  infrastructure/pocket-event-bridge/.terraform-version
  infrastructure/sendgrid-data/.terraform-version
  infrastructure/sendgrid-data/src/apiGateway.ts
  infrastructure/shareable-lists-api/.terraform-version
  infrastructure/shareable-lists-api/src/SQSLambda.ts
  infrastructure/shared-snowplow-consumer/.terraform-version
  infrastructure/transactional-emails/.terraform-version
  infrastructure/transactional-emails/src/transactionalEmailSQSLambda.ts
  infrastructure/user-api/.terraform-version
  infrastructure/user-list-search/.terraform-version
  infrastructure/user-list-search/backfill_item_update_consumer.tf
  infrastructure/user-list-search/backfill_user_list_import_consumer.tf
  infrastructure/user-list-search/emergency-response/versions.tf
  infrastructure/user-list-search/event_handler_consumer.tf
  infrastructure/user-list-search/item_delete_consumer.tf
  infrastructure/user-list-search/item_update_consumer.tf
  infrastructure/user-list-search/kinesis_consumer.tf
  infrastructure/user-list-search/terraform.tf
  infrastructure/user-list-search/user_list_import_consumer.tf
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, list-api-cdk/destroy, feature-flags-cdk/destroy, client-api-cdk/destroy, sendgrid-data-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update, user-list-search-cdk/add-or-update, braze-cdk/no-changes

#158 feat(ADD): add feature flags killswitch to poll logic
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  packages/feature-flags-client/src/index.spec.ts
  packages/feature-flags-client/src/index.ts
  packages/feature-flags-client/src/mockClient.ts
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/batchDeleteHandler.spec.ts
  servers/account-data-deleter/src/batchDeleteHandler.ts
  servers/account-data-deleter/src/config/index.ts
  servers/account-data-deleter/src/server.ts
  servers/account-data-deleter/src/unleash.ts
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update, user-list-search-cdk/add-or-update, braze-cdk/no-changes

#161 fix(account-deleter): update container to pull shared secret
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
Labels: account-data-deleter-cdk/destroy

#159 fix(xray): adding xray to annotations api
  infrastructure/annotations-api/src/main.ts
Labels: annotations-api-cdk/destroy

#160 feat(v3proxy): initial import of v3 proxy api from d5f5d4647afb0d13324be3aab0441eadb1ef2faf
  .circleci/common.yml
  .circleci/config.yml
  .circleci/v3-proxy-api.yml
  infrastructure/v3-proxy-api/.eslintrc.js
  infrastructure/v3-proxy-api/.terraform-version
  infrastructure/v3-proxy-api/cdktf.json
  infrastructure/v3-proxy-api/package.json
  infrastructure/v3-proxy-api/src/config/index.ts
  infrastructure/v3-proxy-api/src/main.ts
  infrastructure/v3-proxy-api/tsconfig.json
  pnpm-lock.yaml
  servers/v3-proxy-api/.eslintignore
  servers/v3-proxy-api/.eslintrc.js
  servers/v3-proxy-api/README.md
  servers/v3-proxy-api/codegen.ts
  servers/v3-proxy-api/jest.config.js
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/config/index.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/fixtures.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/graph/queries/saveArchive.graphql
  servers/v3-proxy-api/src/graph/queries/saveFavorite.graphql
  servers/v3-proxy-api/src/graph/queries/savedItems.graphql
  servers/v3-proxy-api/src/graph/toGraphQL.spec.ts
  servers/v3-proxy-api/src/graph/toGraphQL.ts
  servers/v3-proxy-api/src/graph/toRest.spec.ts
  servers/v3-proxy-api/src/graph/toRest.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/main.integration.ts
  servers/v3-proxy-api/src/main.ts
  servers/v3-proxy-api/src/routes/errorMapper.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
  servers/v3-proxy-api/tsconfig.json
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update, user-list-search-cdk/add-or-update, braze-cdk/no-changes, v3-proxy-api-cdk/destroy

#157 feat(push-server): initial import of push server from 5c84bb95c121091981e3b44d0f61cf85e2b9d8a1
  .circleci/common.yml
  .circleci/config.yml
  .circleci/push-server.yml
  .docker/aws-resources/legacy-pocket-sqs.sh
  .docker/aws-resources/push-server.sh
  infrastructure/push-server/.eslintrc.js
  infrastructure/push-server/.gitignore
  infrastructure/push-server/.terraform-version
  infrastructure/push-server/cdktf.json
  infrastructure/push-server/package.json
  infrastructure/push-server/src/config/index.ts
  infrastructure/push-server/src/main.ts
  infrastructure/push-server/tsconfig.json
  package.json
  pnpm-lock.yaml
  servers/push-server/.eslintrc.js
  servers/push-server/README.md
  servers/push-server/jest.config.js
  servers/push-server/jest.setup.js
  servers/push-server/package.json
  servers/push-server/src/apns.ts
  servers/push-server/src/config.ts
  servers/push-server/src/e2e.integration.ts
  servers/push-server/src/gcm.ts
  servers/push-server/src/index.ts
  servers/push-server/src/notificationTypes.ts
  servers/push-server/src/sentry.ts
  servers/push-server/src/sqs.ts
  servers/push-server/src/worker.ts
  servers/push-server/tsconfig.json
  servers/shared-snowplow-consumer/src/logger.ts
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update, user-list-search-cdk/add-or-update, braze-cdk/no-changes, push-server-cdk/destroy, v3-proxy-api-cdk/add-or-update

#150 fix(user-list-search): making user-list-search match other systems
  infrastructure/user-list-search/apollo_ecs.tf
  infrastructure/user-list-search/ecs.tf
  infrastructure/user-list-search/queue_users_ecs.tf
  pnpm-lock.yaml
  servers/user-list-search/package.json
  servers/user-list-search/src/bin/README.md
  servers/user-list-search/src/bin/apiServer.ts
  servers/user-list-search/src/bin/loadPremiumUsersForBackfill.ts
  servers/user-list-search/src/bin/processUserItemsUpdateQueue.ts
  servers/user-list-search/src/bin/processUserListImportQueue.ts
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/elasticsearch.ts
  servers/user-list-search/src/main.ts
  servers/user-list-search/src/premiumSearch.integration.ts
  servers/user-list-search/src/sentry.ts
  servers/user-list-search/src/server/serverUtils.ts
  servers/user-list-search/src/services/itemDelete/handler.ts
  servers/user-list-search/src/services/itemUpdate/handler.ts
  servers/user-list-search/src/services/kinesis/handler.ts
  servers/user-list-search/src/services/kinesis/index.ts
  servers/user-list-search/src/services/userListImport/handler.ts
  servers/user-list-search/src/shared/util.ts
  servers/user-list-search/src/tasks/userListImport.ts
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update, user-list-search-cdk/destroy, braze-cdk/no-changes, push-server-cdk/destroy, v3-proxy-api-cdk/add-or-update

#163 fix(search): ensure search deploys to right ecs
  .circleci/config.yml
  .circleci/user-list-search.yml
Labels: user-list-search-cdk/add-or-update

#165 feat(parser): resolve item from short url
  servers/parser-graphql-wrapper/src/database/mysql.ts
  servers/parser-graphql-wrapper/src/resolvers.spec.ts
  servers/parser-graphql-wrapper/src/resolvers.ts
  servers/parser-graphql-wrapper/src/shortUrl/shortUrl.integration.ts
  servers/parser-graphql-wrapper/src/shortUrl/shortUrl.spec.ts
  servers/parser-graphql-wrapper/src/shortUrl/shortUrl.ts
Labels: parser-graphql-wrapper-cdk/destroy

#162 feat(serverless-redis): adding in support for the serverless redis cache
  infrastructure/image-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  packages/terraform-modules/src/base/ApplicationElasticacheCluster.ts
  packages/terraform-modules/src/base/ApplicationMemcache.ts
  packages/terraform-modules/src/base/ApplicationRedis.ts
  packages/terraform-modules/src/base/ApplicationServerlessRedis.spec.ts
  packages/terraform-modules/src/base/ApplicationServerlessRedis.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationServerlessRedis.spec.ts.snap
  packages/terraform-modules/src/index.ts
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update, user-list-search-cdk/add-or-update, braze-cdk/no-changes, push-server-cdk/destroy, v3-proxy-api-cdk/add-or-update

#166 fix(cache): revert serverless for now
  infrastructure/image-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
Labels: image-api-cdk/destroy, parser-graphql-wrapper-cdk/destroy

#167 fix(redis): enabling cluster support for serverless
  infrastructure/image-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  pnpm-lock.yaml
  servers/image-api/package.json
  servers/image-api/src/cache/index.ts
  servers/image-api/src/config/index.ts
  servers/image-api/src/server/apollo.ts
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/cache/index.ts
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/server.ts
  servers/shareable-lists-api/package.json
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update, user-list-search-cdk/add-or-update, braze-cdk/no-changes, push-server-cdk/destroy, v3-proxy-api-cdk/add-or-update

#169 fix(name): ensuring that the same name is always used for cache
  packages/terraform-modules/src/base/ApplicationServerlessRedis.ts
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update, user-list-search-cdk/add-or-update, braze-cdk/no-changes, push-server-cdk/destroy, v3-proxy-api-cdk/add-or-update

#170 chore(infra): cleaning up old image and parser cache
  docker-compose.yml
  infrastructure/image-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
Labels: image-api-cdk/destroy, parser-graphql-wrapper-cdk/destroy

#168 fix(errors): fix formatError hook not returning custom errors
  packages/apollo-utils/src/errorHandler/errorHandler.ts
  servers/user-list-search/src/premiumSearch.integration.ts
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update, user-list-search-cdk/add-or-update, braze-cdk/no-changes, push-server-cdk/destroy, v3-proxy-api-cdk/add-or-update

#191 feat(shareable-lists): updating to serverless redis
  infrastructure/annotations-api/src/main.ts
  infrastructure/shareable-lists-api/src/main.ts
  servers/shareable-lists-api/src/cache/index.ts
  servers/shareable-lists-api/src/config/index.ts
  servers/shareable-lists-api/src/express.ts
Labels: annotations-api-cdk/destroy, shareable-lists-api-cdk/destroy

#194 fix(client): bump router max height limit
  servers/client-api/config/router.yaml
Labels: client-api-cdk/destroy

#189 feat(v3proxy): saved items with offset pagination (GET)
  .gitignore
  pnpm-lock.yaml
  servers/v3-proxy-api/README.md
  servers/v3-proxy-api/codegen.ts
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/graph/queries/savedItemsByOffset.graphql
  servers/v3-proxy-api/src/graph/toGraphQL.spec.ts
  servers/v3-proxy-api/src/graph/toGraphQL.ts
  servers/v3-proxy-api/src/graph/toRest.spec.ts
  servers/v3-proxy-api/src/graph/toRest.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update, user-list-search-cdk/add-or-update, braze-cdk/no-changes, push-server-cdk/destroy, v3-proxy-api-cdk/add-or-update

#195 chore(cache): removing unused caches
  infrastructure/client-api/src/main.ts
  infrastructure/shareable-lists-api/src/main.ts
Labels: client-api-cdk/destroy, shareable-lists-api-cdk/destroy

#196 fix(sentry): ensure sentry does not truncate values
  packages/apollo-utils/src/sentry/initSentry.ts
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update, user-list-search-cdk/add-or-update, braze-cdk/no-changes, push-server-cdk/destroy, v3-proxy-api-cdk/add-or-update

#208 feat(v3proxy): add complete and simple detailType queries (/get)
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/graph/queries/savedItems.graphql
  servers/v3-proxy-api/src/graph/queries/savedItemsByOffset.graphql
  servers/v3-proxy-api/src/graph/queries/savedItemsByOffsetComplete.graphql
  servers/v3-proxy-api/src/graph/queries/savedItemsByOffsetSimple.graphql
  servers/v3-proxy-api/src/graph/toRest.spec.ts
  servers/v3-proxy-api/src/graph/toRest.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/main.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
  servers/v3-proxy-api/src/test/fixtures/fixtures.ts
  servers/v3-proxy-api/src/test/fixtures/get-complete.ts
  servers/v3-proxy-api/src/test/fixtures/index.ts
  servers/v3-proxy-api/tsconfig.json
Labels: v3-proxy-api-cdk/add-or-update

#213 feat(v3proxy): implement filters and sort (non-search)
  pnpm-lock.yaml
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/graph/toGraphQL.spec.ts
  servers/v3-proxy-api/src/graph/toGraphQL.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
  servers/v3-proxy-api/src/routes/validations.ts
  servers/v3-proxy-api/src/test/fixtures/get-complete.ts
  servers/v3-proxy-api/src/test/fixtures/index.ts
  servers/v3-proxy-api/src/test/fixtures/queryParams.ts
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update, user-list-search-cdk/add-or-update, braze-cdk/no-changes, push-server-cdk/destroy, v3-proxy-api-cdk/add-or-update

#216 feat(v3proxy): add video content type filter
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/toGraphQL.spec.ts
  servers/v3-proxy-api/src/graph/toGraphQL.ts
  servers/v3-proxy-api/src/routes/validations.ts
Labels: v3-proxy-api-cdk/add-or-update

#219 feat(v3proxy): improved error handling
  servers/v3-proxy-api/src/errors/InputValidationError.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/main.ts
  servers/v3-proxy-api/src/middleware/errorHandlers.ts
  servers/v3-proxy-api/src/middleware/index.ts
  servers/v3-proxy-api/src/routes/errorMapper.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
  servers/v3-proxy-api/src/routes/validations.ts
  servers/v3-proxy-api/src/test/fixtures/queryParams.ts
Labels: v3-proxy-api-cdk/add-or-update

#212 feat(user-list-search-indexing): break out indexing lambdas logic
  .circleci/user-list-search.yml
  .docker/aws-resources/user-list-search.sh
  docker-compose.yml
  infrastructure/user-list-search/apollo_ecs.tf
  infrastructure/user-list-search/backfill_item_update_consumer.tf
  infrastructure/user-list-search/backfill_user_list_import_consumer.tf
  infrastructure/user-list-search/event_handler_consumer.tf
  infrastructure/user-list-search/item_delete_consumer.tf
  infrastructure/user-list-search/item_update_consumer.tf
  infrastructure/user-list-search/kinesis_consumer.tf
  infrastructure/user-list-search/locals.tf
  infrastructure/user-list-search/user_list_import_consumer.tf
  lambdas/user-list-search-events/config.ts
  lambdas/user-list-search-indexing/.eslintrc.js
  lambdas/user-list-search-indexing/README.md
  lambdas/user-list-search-indexing/jest.config.js
  lambdas/user-list-search-indexing/package.json
  lambdas/user-list-search-indexing/src/config/index.ts
  lambdas/user-list-search-indexing/src/helper.spec.ts
  lambdas/user-list-search-indexing/src/helper.ts
  lambdas/user-list-search-indexing/src/index.ts
  lambdas/user-list-search-indexing/src/itemDelete.ts
  lambdas/user-list-search-indexing/src/itemUpdate.ts
  lambdas/user-list-search-indexing/src/types.ts
  lambdas/user-list-search-indexing/src/userListImport.ts
  lambdas/user-list-search-indexing/tsconfig.json
  lambdas/user-list-search-kinesis-to-sqs/src/config/index.ts
  pnpm-lock.yaml
  servers/user-list-search/package.json
  servers/user-list-search/src/bin/processUserItemsUpdateQueue.ts
  servers/user-list-search/src/bin/processUserListImportQueue.ts
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/datasource/MysqlDataSource.integration.ts
  servers/user-list-search/src/datasource/MysqlDataSource.ts
  servers/user-list-search/src/datasource/clients/knexClient.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchBulk.integration.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.integration.ts
  servers/user-list-search/src/lambda.ts
  servers/user-list-search/src/mysql.ts
  servers/user-list-search/src/server/routes/batchDelete.integration.ts
  servers/user-list-search/src/server/routes/batchDelete.ts
  servers/user-list-search/src/server/routes/itemDelete.integration.ts
  servers/user-list-search/src/server/routes/itemDelete.ts
  servers/user-list-search/src/server/routes/itemUpdate.integration.ts
  servers/user-list-search/src/server/routes/itemUpdate.ts
  servers/user-list-search/src/server/routes/userListImport.integration.ts
  servers/user-list-search/src/server/routes/userListImport.ts
  servers/user-list-search/src/server/serverUtils.ts
  servers/user-list-search/src/shared/util.ts
  servers/user-list-search/src/sqs.ts
  servers/user-list-search/src/tasks/queueAllPremiumUsers.integration.ts
  servers/user-list-search/src/tasks/userItemsDelete.ts
  servers/user-list-search/src/tasks/userItemsUpdate.integration.ts
  servers/user-list-search/src/tasks/userItemsUpdate.ts
  servers/user-list-search/src/tasks/userListImport.integration.ts
  servers/user-list-search/src/tasks/userListImport.ts
  servers/user-list-search/src/test/_support/mysql.ts
  servers/user-list-search/src/test/_support/seeder.ts
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update, user-list-search-cdk/destroy, braze-cdk/no-changes, push-server-cdk/destroy, v3-proxy-api-cdk/add-or-update

#221 fix(node-fetch): including node fetch in lambda
  lambdas/user-list-search-indexing/package.json
  pnpm-lock.yaml
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update, user-list-search-cdk/add-or-update, braze-cdk/no-changes, push-server-cdk/destroy, v3-proxy-api-cdk/add-or-update

#222 fix(kinesis): update kinesis variables
  infrastructure/user-list-search/locals.tf
Labels: user-list-search-cdk/add-or-update

#223 feat(v3proxy): add total field conditionally to response
  servers/v3-proxy-api/codegen.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/queries/savedItemsByOffsetComplete.graphql
  servers/v3-proxy-api/src/graph/queries/savedItemsByOffsetSimple.graphql
  servers/v3-proxy-api/src/graph/toRest.spec.ts
  servers/v3-proxy-api/src/graph/toRest.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/graphql/fragments/ItemComplete.graphql
  servers/v3-proxy-api/src/graphql/fragments/ItemSimple.graphql
  servers/v3-proxy-api/src/graphql/fragments/SavedItemComplete.graphql
  servers/v3-proxy-api/src/graphql/fragments/SavedItemSimple.graphql
  servers/v3-proxy-api/src/graphql/mutations/saveArchive.graphql
  servers/v3-proxy-api/src/graphql/mutations/saveFavorite.graphql
  servers/v3-proxy-api/src/graphql/queries/savedItemsByOffsetComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/savedItemsByOffsetSimple.graphql
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
  servers/v3-proxy-api/src/routes/validations.ts
  servers/v3-proxy-api/src/test/fixtures/get-complete.ts
Labels: v3-proxy-api-cdk/add-or-update
