Repository Pocket/pocket-monorepo, pull requests merged in 2024-04, with the labels that each got.

#382 fix(sync): adding instant sync logic
  .docker/mysql-8-resources/schema/7g-mono-db-users-seed-instant-sync-events.sql
  infrastructure/instant-sync-events/src/config/index.ts
  infrastructure/instant-sync-events/src/main.ts
  infrastructure/instant-sync-events/src/sqsEventLambda.ts
  lambdas/account-data-deleter-events/package.json
  lambdas/instant-sync-events/.eslintrc.js
  lambdas/instant-sync-events/jest.config.js
  lambdas/instant-sync-events/jest.setup.js
  lambdas/instant-sync-events/package.json
  lambdas/instant-sync-events/src/clients.ts
  lambdas/instant-sync-events/src/config.ts
  lambdas/instant-sync-events/src/handlerFn.integration.ts
  lambdas/instant-sync-events/src/handlerFn.spec.ts
  lambdas/instant-sync-events/src/handlerFn.ts
  lambdas/instant-sync-events/src/handlerFns.ts
  lambdas/instant-sync-events/src/handlerMap.ts
  lambdas/instant-sync-events/src/index.ts
  lambdas/instant-sync-events/src/sqs.ts
  pnpm-lock.yaml
  servers/push-server/src/apns.ts
  servers/push-server/src/gcm.ts
  servers/push-server/src/worker.ts
Labels: instant-sync-events-cdk/add-or-update

#391 fix(tags): adding in cost center and default tags to all resources
  infrastructure/account-data-deleter/src/config/index.ts
  infrastructure/account-data-deleter/src/main.ts
  infrastructure/account-delete-monitor/src/config/index.ts
  infrastructure/account-delete-monitor/src/main.ts
  infrastructure/annotations-api/src/config/index.ts
  infrastructure/annotations-api/src/main.ts
  infrastructure/braze/src/config/index.ts
  infrastructure/braze/src/main.ts
  infrastructure/client-api/src/config/index.ts
  infrastructure/client-api/src/main.ts
  infrastructure/feature-flags/src/config/index.ts
  infrastructure/feature-flags/src/main.ts
  infrastructure/fxa-webhook-proxy/src/config/index.ts
  infrastructure/fxa-webhook-proxy/src/main.ts
  infrastructure/image-api/src/config/index.ts
  infrastructure/image-api/src/main.ts
  infrastructure/instant-sync-events/src/config/index.ts
  infrastructure/instant-sync-events/src/main.ts
  infrastructure/list-api/src/config/index.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/config/index.ts
  infrastructure/pocket-event-bridge/src/config/index.ts
  infrastructure/push-server/src/config/index.ts
  infrastructure/push-server/src/main.ts
  infrastructure/sendgrid-data/src/config/index.ts
  infrastructure/sendgrid-data/src/main.ts
  infrastructure/shareable-lists-api/src/config/index.ts
  infrastructure/shareable-lists-api/src/main.ts
  infrastructure/shared-snowplow-consumer/src/config/index.ts
  infrastructure/shared-snowplow-consumer/src/main.ts
  infrastructure/transactional-emails/src/config/index.ts
  infrastructure/user-api/src/config/index.ts
  infrastructure/user-api/src/main.ts
  infrastructure/user-list-search/locals.tf
  infrastructure/user-list-search/providers.tf
  infrastructure/v3-proxy-api/src/config/index.ts
  infrastructure/v3-proxy-api/src/main.ts
Labels: shared-snowplow-consumer-cdk/add-or-update, parser-graphql-wrapper-cdk/add-or-update, annotations-api-cdk/add-or-update, image-api-cdk/add-or-update, transactional-emails-cdk/add-or-update, user-api-cdk/add-or-update, feature-flags-cdk/add-or-update, sendgrid-data-cdk/add-or-update, account-data-deleter-cdk/add-or-update, list-api-cdk/add-or-update, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update, shareable-lists-api-cdk/add-or-update, client-api-cdk/add-or-update, user-list-search-cdk/add-or-update, braze-cdk/add-or-update, v3-proxy-api-cdk/add-or-update, instant-sync-events-cdk/add-or-update, push-server-cdk/add-or-update

#398 fix(alb): adding in alb access logs
  infrastructure/image-api/src/config/index.ts
  infrastructure/image-api/src/main.ts
  infrastructure/list-api/src/config/index.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/config/index.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/shareable-lists-api/src/config/index.ts
  infrastructure/shareable-lists-api/src/main.ts
  infrastructure/shared-snowplow-consumer/src/config/index.ts
  infrastructure/shared-snowplow-consumer/src/sharedSnowplowConsumerApp.ts
  infrastructure/user-api/src/config/index.ts
  infrastructure/user-api/src/main.ts
  infrastructure/v3-proxy-api/src/config/index.ts
  infrastructure/v3-proxy-api/src/main.ts
Labels: shared-snowplow-consumer-cdk/add-or-update, parser-graphql-wrapper-cdk/add-or-update, image-api-cdk/add-or-update, user-api-cdk/add-or-update, list-api-cdk/add-or-update, shareable-lists-api-cdk/add-or-update, v3-proxy-api-cdk/add-or-update

#439 fix(cache): moving to a much lower serverless redis cache
  infrastructure/parser-graphql-wrapper/src/main.ts
Labels: parser-graphql-wrapper-cdk/destroy

#443 chore(elasticache): removes an older elasticache for a smaller more limited one
  infrastructure/parser-graphql-wrapper/src/main.ts
Labels: parser-graphql-wrapper-cdk/destroy

#451 feat(readerSlug): add reader interstitial data
  infrastructure/list-api/src/main.ts
  pnpm-lock.yaml
  servers/list-api/package.json
  servers/list-api/schema.graphql
  servers/list-api/src/resolvers/index.ts
  servers/list-api/src/test/graphql/queries/readerSlug.integration.ts
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/parser-graphql-wrapper/src/model.ts
  servers/parser-graphql-wrapper/src/readerView/index.ts
  servers/parser-graphql-wrapper/src/readerView/readerViewResult.integration.ts
  servers/parser-graphql-wrapper/src/resolvers.ts
Labels: list-api-cdk/destroy

#463 feat(shares-api): stand up basic shares-api service
  .circleci/common.yml
  .circleci/config.yml
  .circleci/shares-api.yml
  .prettierignore
  infrastructure/shares-api/.eslintrc.js
  infrastructure/shares-api/.terraform-version
  infrastructure/shares-api/cdktf.json
  infrastructure/shares-api/package.json
  infrastructure/shares-api/src/config/index.ts
  infrastructure/shares-api/src/dynamodb.ts
  infrastructure/shares-api/src/main.ts
  infrastructure/shares-api/tsconfig.json
  pnpm-lock.yaml
  servers/shares-api/.eslintignore
  servers/shares-api/.eslintrc.js
  servers/shares-api/README.md
  servers/shares-api/codegen.ts
  servers/shares-api/jest.config.js
  servers/shares-api/jest.setup.js
  servers/shares-api/package.json
  servers/shares-api/schema.graphql
  servers/shares-api/src/__generated__/resolvers-types.ts
  servers/shares-api/src/apollo/buildSchema.ts
  servers/shares-api/src/apollo/context.ts
  servers/shares-api/src/apollo/index.ts
  servers/shares-api/src/apollo/resolvers.ts
  servers/shares-api/src/apollo/schema.ts
  servers/shares-api/src/apollo/server.ts
  servers/shares-api/src/apollo/typeDefs.ts
  servers/shares-api/src/config/index.ts
  servers/shares-api/src/main.ts
  servers/shares-api/src/test/example.integration.ts
  servers/shares-api/src/test/example.spec.ts
  servers/shares-api/tsconfig.json
Labels: shares-api-cdk/add-or-update

#456 feat(display): adding in the basics of a preview item
  .env.example
  infrastructure/parser-graphql-wrapper/src/main.ts
  packages/ts-logger/src/logger.spec.ts
  packages/ts-logger/src/logger.ts
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/jest.setup.js
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/context.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/parser-graphql-wrapper/src/model.ts
  servers/parser-graphql-wrapper/src/preview/preview.integration.ts
  servers/parser-graphql-wrapper/src/preview/preview.ts
  servers/parser-graphql-wrapper/src/readerView/index.ts
  servers/parser-graphql-wrapper/src/readerView/readerViewResult.integration.ts
  servers/parser-graphql-wrapper/src/resolvers.ts
  servers/parser-graphql-wrapper/src/server.ts
  servers/parser-graphql-wrapper/src/unleash.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
Labels: parser-graphql-wrapper-cdk/destroy

#464 feat(shares): initial api implementation
  .docker/aws-resources/dynamodb/shares_api_shares_table.json
  infrastructure/shares-api/src/dynamodb.ts
  infrastructure/shares-api/src/main.ts
  packages/terraform-modules/package.json
  packages/terraform-modules/src/base/ApplicationDynamoDBTable.spec.ts
  packages/terraform-modules/src/base/ApplicationDynamoDBTable.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationDynamoDBTable.spec.ts.snap
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/schema.graphql
  servers/shares-api/codegen.ts
  servers/shares-api/package.json
  servers/shares-api/schema.graphql
  servers/shares-api/src/__generated__/resolvers-types.ts
  servers/shares-api/src/__generated__/types.ts
  servers/shares-api/src/apollo/context.ts
  servers/shares-api/src/apollo/resolvers.ts
  servers/shares-api/src/apollo/server.ts
  servers/shares-api/src/config/index.ts
  servers/shares-api/src/datasources/dynamoClient.ts
  servers/shares-api/src/datasources/shares.ts
  servers/shares-api/src/main.ts
  servers/shares-api/src/models/Max300CharString.spec.ts
  servers/shares-api/src/models/Max300CharString.ts
  servers/shares-api/src/models/PocketShare.ts
  servers/shares-api/src/models/ShareNotFoundModel.ts
  servers/shares-api/src/models/index.ts
  servers/shares-api/src/test/Max300CharString.integration.ts
  servers/shares-api/src/test/createShareLink.integration.ts
  servers/shares-api/src/test/example.integration.ts
  servers/shares-api/src/test/example.spec.ts
  servers/shares-api/src/test/queries.ts
  servers/shares-api/src/test/shareSlug.integration.ts
Labels: shares-api-cdk/destroy

#477 chore(rest): moving parser api to a rest datasource
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/shared-snowplow-consumer/src/sharedSnowplowConsumerApp.ts
  package.json
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/jest.setup.js
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/apollo/context.ts
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/parser-graphql-wrapper/src/apollo/server.ts
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/dataLoaders/articleLoader.spec.ts
  servers/parser-graphql-wrapper/src/dataLoaders/articleLoader.ts
  servers/parser-graphql-wrapper/src/dataLoaders/index.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.integration.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/parser-graphql-wrapper/src/datasources/ParserAPI.ts
  servers/parser-graphql-wrapper/src/datasources/ParserAPITypes.ts
  servers/parser-graphql-wrapper/src/datasources/legacyDataSourcesPlugin.ts
  servers/parser-graphql-wrapper/src/datasources/parserApi.spec.ts
  servers/parser-graphql-wrapper/src/datasources/parserApi.ts
  servers/parser-graphql-wrapper/src/datasources/parserApiUtils.spec.ts
  servers/parser-graphql-wrapper/src/datasources/parserApiUtils.ts
  servers/parser-graphql-wrapper/src/fetch/FetchHandler.spec.ts
  servers/parser-graphql-wrapper/src/fetch/FetchHandler.ts
  servers/parser-graphql-wrapper/src/fetch/HTTPResponseError.spec.ts
  servers/parser-graphql-wrapper/src/fetch/HTTPResponseError.ts
  servers/parser-graphql-wrapper/src/fetch/index.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.spec.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.ts
  servers/parser-graphql-wrapper/src/models/SSMLModel.spec.ts
  servers/parser-graphql-wrapper/src/models/SSMLModel.ts
  servers/parser-graphql-wrapper/src/preview/index.ts
  servers/parser-graphql-wrapper/src/readerView/index.ts
  servers/parser-graphql-wrapper/src/test/mutations/refreshMutation.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/marticleParser.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/parserApi.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/preview.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/readerViewResult.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/shortUrl.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/ssml.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/timeToRead.integration.ts
  servers/parser-graphql-wrapper/src/test/utils/parserResponse.ts
Labels: parser-graphql-wrapper-cdk/destroy

#489 fix(parser): removing duplicate secret
  infrastructure/parser-graphql-wrapper/src/main.ts
Labels: parser-graphql-wrapper-cdk/add-or-update

#490 Revert "fix(revert): reverting parser change"
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/shared-snowplow-consumer/src/sharedSnowplowConsumerApp.ts
  package.json
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/jest.setup.js
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/apollo/context.ts
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/parser-graphql-wrapper/src/apollo/server.ts
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/dataLoaders/articleLoader.spec.ts
  servers/parser-graphql-wrapper/src/dataLoaders/articleLoader.ts
  servers/parser-graphql-wrapper/src/dataLoaders/index.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.integration.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/parser-graphql-wrapper/src/datasources/ParserAPI.ts
  servers/parser-graphql-wrapper/src/datasources/ParserAPITypes.ts
  servers/parser-graphql-wrapper/src/datasources/legacyDataSourcesPlugin.ts
  servers/parser-graphql-wrapper/src/datasources/parserApi.spec.ts
  servers/parser-graphql-wrapper/src/datasources/parserApi.ts
  servers/parser-graphql-wrapper/src/datasources/parserApiUtils.spec.ts
  servers/parser-graphql-wrapper/src/datasources/parserApiUtils.ts
  servers/parser-graphql-wrapper/src/fetch/FetchHandler.spec.ts
  servers/parser-graphql-wrapper/src/fetch/FetchHandler.ts
  servers/parser-graphql-wrapper/src/fetch/HTTPResponseError.spec.ts
  servers/parser-graphql-wrapper/src/fetch/HTTPResponseError.ts
  servers/parser-graphql-wrapper/src/fetch/index.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.spec.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.ts
  servers/parser-graphql-wrapper/src/models/SSMLModel.spec.ts
  servers/parser-graphql-wrapper/src/models/SSMLModel.ts
  servers/parser-graphql-wrapper/src/preview/index.ts
  servers/parser-graphql-wrapper/src/readerView/index.ts
  servers/parser-graphql-wrapper/src/test/mutations/refreshMutation.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/marticleParser.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/parserApi.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/preview.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/readerViewResult.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/referenceResolver.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/shortUrl.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/ssml.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/timeToRead.integration.ts
  servers/parser-graphql-wrapper/src/test/utils/parserResponse.ts
Labels: parser-graphql-wrapper-cdk/destroy

#491 fix(parser): parsing the int value correctly
  servers/parser-graphql-wrapper/src/datasources/parserApiUtils.ts
Labels: parser-graphql-wrapper-cdk/add-or-update

#510 chore(setup): initial setup and config for adding a dynamodb datstore
  .docker/aws-resources/dynamodb/parser_graphql_wrapper_item_summary_table.json
  infrastructure/parser-graphql-wrapper/src/config/index.ts
  infrastructure/parser-graphql-wrapper/src/dynamodb.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/jest.setup.js
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/apollo/context.ts
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/databases/itemSummaryStore.ts
  servers/parser-graphql-wrapper/src/datasources/dynamoClient.ts
  servers/parser-graphql-wrapper/src/models/ItemSummaryModel.ts
  servers/parser-graphql-wrapper/src/models/summaryModels/OpenGraphModel.ts
  servers/parser-graphql-wrapper/src/preview/index.ts
  servers/parser-graphql-wrapper/src/readerView/index.ts
  servers/parser-graphql-wrapper/src/test/queries/preview.integration.ts
Labels: parser-graphql-wrapper-cdk/destroy

#449 feat(search): save recent searches and return them (premium account)
  .docker/mysql-8-resources/schema/01a-mono-db-readitla_ril-tmp-schema.sql
  .docker/mysql-8-resources/schema/01b-mono-db-readitla_ril-tmp-seed.sql
  .docker/mysql-8-resources/schema/01c-mono-db-readitlat_ril-tmp-schema-list_update_bigint_ids.sql
  .docker/mysql-8-resources/schema/02a-mono-db-readitla_b-schema.sql
  .docker/mysql-8-resources/schema/02b-mono-db-readitla_b-seed_parser_rules.sql
  .docker/mysql-8-resources/schema/02c-mono-db-readitla_b-seed.sql
  .docker/mysql-8-resources/schema/03a-mono-db-readitla_analytics-schema.sql
  .docker/mysql-8-resources/schema/03b-mono-db-readitla_analytics-seed.sql
  .docker/mysql-8-resources/schema/04a-mono-db-readitla_auth-schema.sql
  .docker/mysql-8-resources/schema/05a-mono-db-readitla_cache-schema.sql
  .docker/mysql-8-resources/schema/05b-mono-db-readitla_cache-seed.sql
  .docker/mysql-8-resources/schema/06a-mono-db-readitla_logs-schema.sql
  .docker/mysql-8-resources/schema/07a-mono-db-users-seed.sql
  .docker/mysql-8-resources/schema/07b-mono-db-users-seed-annotations-api.sql
  .docker/mysql-8-resources/schema/07c-mono-db-users-seed-user-api.sql
  .docker/mysql-8-resources/schema/07d-mono-db-users-seed-list-api.sql
  .docker/mysql-8-resources/schema/07e-mono-db-users-seed-account-data-deleter.sql
  .docker/mysql-8-resources/schema/07f-mono-db-users-seed-user-list-search.sql
  .docker/mysql-8-resources/schema/07g-mono-db-users-seed-instant-sync-events.sql
  .docker/mysql-8-resources/schema/08a-borealis-schema-.sql
  .docker/mysql-8-resources/schema/08b-borealis-seed.sql
  .docker/mysql-8-resources/schema/08c-borealis-users.sql
  .docker/mysql-8-resources/schema/09a-readitla_shares-schema.sql
  .docker/mysql-8-resources/schema/09b-readitla_shares-seed.sql
  .docker/mysql-8-resources/schema/09c-readitla_shares-users.sql
  infrastructure/user-list-search/ecs.tf
  package.json
  pnpm-lock.yaml
  servers/user-list-search/schema.graphql
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/datasource/MysqlDataSource.integration.ts
  servers/user-list-search/src/datasource/MysqlDataSource.ts
  servers/user-list-search/src/datasource/clients/knexClient.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.ts
  servers/user-list-search/src/freeSearch.integration.ts
  servers/user-list-search/src/freeSearchByOffset.integration.ts
  servers/user-list-search/src/premiumSearch.integration.ts
  servers/user-list-search/src/premiumSearchByOffset.integration.ts
  servers/user-list-search/src/queries.ts
  servers/user-list-search/src/recentSearches.integration.ts
  servers/user-list-search/src/resolvers.ts
  servers/user-list-search/src/server/routes/itemUpdate.integration.ts
  servers/user-list-search/src/server/routes/userListImport.integration.ts
  servers/user-list-search/src/server/serverUtils.ts
  servers/user-list-search/src/test/_support/seeder.ts
  servers/user-list-search/src/types.ts
Labels: user-list-search-cdk/destroy
