Repository Pocket/pocket-monorepo, pull requests merged in 2024-07, with the labels that each got.

#626 chore(search): add max concurrency limits on lambdas
  infrastructure/user-list-search/backfill_item_update_consumer.tf
  infrastructure/user-list-search/backfill_user_list_import_consumer.tf
  infrastructure/user-list-search/corpus_events_consumer.tf
  infrastructure/user-list-search/corpus_events_hydration_consumer.tf
  infrastructure/user-list-search/event_handler_consumer.tf
  infrastructure/user-list-search/item_delete_consumer.tf
  infrastructure/user-list-search/item_update_consumer.tf
  infrastructure/user-list-search/locals.tf
  infrastructure/user-list-search/user_list_import_consumer.tf
Labels: user-list-search-cdk/add-or-update

#628 feat(corpus:content): enable privileged content extraction for hydrator
  infrastructure/user-list-search/locals.tf
  lambdas/user-list-search-corpus-parser-hydration/src/config.ts
  lambdas/user-list-search-corpus-parser-hydration/src/parserRequest.ts
Labels: user-list-search-cdk/add-or-update

#629 fix(corpus:index): fix collection urls and standardize casing
  lambdas/user-list-search-corpus-indexing/src/createDoc.ts
  lambdas/user-list-search-corpus-indexing/src/utils.spec.ts
  lambdas/user-list-search-corpus-indexing/src/utils.ts
  lambdas/user-list-search-corpus-parser-hydration/src/index.integration.ts
  lambdas/user-list-search-corpus-parser-hydration/src/index.ts
  lambdas/user-list-search-corpus-parser-hydration/src/utils.spec.ts
  lambdas/user-list-search-corpus-parser-hydration/src/utils.ts
Labels: user-list-search-cdk/add-or-update

#637 fix(account-data-deleter): removing alarm thats noisy
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
Labels: account-data-deleter-cdk/add-or-update

#653 fix(scale): bump up the scaling of our main services to increase stability
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/v3-proxy-api/src/main.ts
Labels: parser-graphql-wrapper-cdk/add-or-update, list-api-cdk/add-or-update, v3-proxy-api-cdk/add-or-update
