Repository Pocket/pocket-monorepo, pull requests merged in 2024-03, with the labels that each got.

#228 fix(badDates): removing error logging of bad dates
  .docker/mysql-8-resources/schema/7f-mono-db-users-seed-user-list-search.sql
  lambdas/user-list-search-indexing/src/helper.ts
  servers/user-list-search/src/datasource/MysqlDataSource.integration.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchBulk.ts
  servers/user-list-search/src/server/routes/itemUpdate.integration.ts
  servers/user-list-search/src/server/routes/userListImport.integration.ts
  servers/user-list-search/src/shared/util.ts
  servers/user-list-search/src/test/_support/seeder.ts
Labels: user-list-search-cdk/add-or-update

#231 feat(router): add a redis cache to the router
  .circleci/v3-proxy-api.yml
  .env.example
  infrastructure/client-api/src/config/index.ts
  infrastructure/client-api/src/main.ts
  infrastructure/v3-proxy-api/src/config/index.ts
  servers/client-api/.env.example
  servers/client-api/README.md
  servers/client-api/config/router.yaml
  servers/v3-proxy-api/src/config/index.ts
Labels: client-api-cdk/destroy, v3-proxy-api-cdk/destroy

#237 fix(item): ensuring that we resolve items if they are not there
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.integration.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
Labels: parser-graphql-wrapper-cdk/destroy

#236 fix(images): ensuring that Images always have a URL response field
  packages/apollo-utils/package.json
  packages/feature-flags-client/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
  servers/parser-graphql-wrapper/src/marticle/marticleParser.integration.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.spec.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.ts
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update, shareable-lists-api-cdk/add-or-update, user-list-search-cdk/add-or-update, braze-cdk/no-changes, push-server-cdk/destroy, v3-proxy-api-cdk/add-or-update

#240 fix(serverless-cache): limiting serverless cache size
  infrastructure/parser-graphql-wrapper/src/main.ts
  packages/terraform-modules/src/base/ApplicationServerlessRedis.spec.ts
  packages/terraform-modules/src/base/ApplicationServerlessRedis.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationServerlessRedis.spec.ts.snap
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/no-changes, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, account-delete-monitor-cdk/no-changes, pocket-event-bridge-cdk/add-or-update, shareable-lists-api-cdk/add-or-update, user-list-search-cdk/add-or-update, braze-cdk/no-changes, push-server-cdk/destroy, v3-proxy-api-cdk/add-or-update

#242 fix(shareable-lists): matching version
  infrastructure/shareable-lists-api/src/main.ts
Labels: shareable-lists-api-cdk/add-or-update

#243 fix(cache-size): limit our cache size by reducing age
  infrastructure/parser-graphql-wrapper/src/main.ts
  servers/parser-graphql-wrapper/src/config/index.ts
Labels: parser-graphql-wrapper-cdk/add-or-update

#254 fix(parser): resolve short code by url that was shared
  servers/parser-graphql-wrapper/src/resolvers.ts
  servers/parser-graphql-wrapper/src/shortUrl/shortUrl.integration.ts
  servers/parser-graphql-wrapper/src/shortUrl/shortUrl.ts
Labels: parser-graphql-wrapper-cdk/destroy

#259 fix(spans): decreasing the time between exporting span traces
  packages/tracing/src/tracing.ts
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/no-changes, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/no-changes, pocket-event-bridge-cdk/add-or-update, user-list-search-cdk/add-or-update, braze-cdk/no-changes, push-server-cdk/destroy, v3-proxy-api-cdk/add-or-update

#263 feat(eventbridge-monitor): making an event bridge monitor
  infrastructure/pocket-event-bridge/src/event-rules/all-events/allEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/all-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/main.ts
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/account-data-deleter-batch-delete/src/index.spec.ts
  lambdas/account-data-deleter-events/package.json
  lambdas/account-data-deleter-events/src/index.spec.ts
  lambdas/user-list-search-indexing/package.json
  packages/ts-logger/src/logger.ts
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update, braze-cdk/no-changes, push-server-cdk/destroy, v3-proxy-api-cdk/add-or-update, user-list-search-cdk/no-changes

#264 feat(search): add searchType to graph
  servers/user-list-search/schema.graphql
  servers/user-list-search/src/datasource/SavedItemsDataSource.ts
  servers/user-list-search/src/datasource/elasticsearch/Paginator.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.ts
  servers/user-list-search/src/freeSearch.integration.ts
  servers/user-list-search/src/freeSearchByOffset.integration.ts
  servers/user-list-search/src/premiumSearch.integration.ts
  servers/user-list-search/src/premiumSearchByOffset.integration.ts
  servers/user-list-search/src/types.ts
Labels: user-list-search-cdk/no-changes

#265 Revert "feat(search): add searchType to graph (#264)"
  servers/user-list-search/schema.graphql
  servers/user-list-search/src/datasource/SavedItemsDataSource.ts
  servers/user-list-search/src/datasource/elasticsearch/Paginator.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.ts
  servers/user-list-search/src/freeSearch.integration.ts
  servers/user-list-search/src/freeSearchByOffset.integration.ts
  servers/user-list-search/src/premiumSearch.integration.ts
  servers/user-list-search/src/premiumSearchByOffset.integration.ts
  servers/user-list-search/src/types.ts
Labels: user-list-search-cdk/no-changes

#249 feat(transactional-email): moving forgot password email into braze
  infrastructure/pocket-event-bridge/src/event-rules/forgot-password-request/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/forgot-password-request/index.ts
  infrastructure/pocket-event-bridge/src/events-schema/ForgotPasswordRequestEvent.ts
  infrastructure/pocket-event-bridge/src/main.ts
  infrastructure/transactional-emails/src/config/index.ts
  infrastructure/transactional-emails/src/main.ts
  infrastructure/transactional-emails/src/transactionalEmailSQSLambda.ts
  lambdas/transactional-emails/package.json
  lambdas/transactional-emails/src/braze.ts
  lambdas/transactional-emails/src/config.ts
  lambdas/transactional-emails/src/handlers/forgotPassword.spec.ts
  lambdas/transactional-emails/src/handlers/forgotPassword.ts
  lambdas/transactional-emails/src/handlers/index.ts
  lambdas/transactional-emails/src/handlers/userRegistrationEventHandler.spec.ts
  lambdas/transactional-emails/src/handlers/userRegistrationEventHandler.ts
  lambdas/transactional-emails/src/index.ts
  lambdas/transactional-emails/src/schemas/forgotPasswordResetEvent.ts
  pnpm-lock.yaml
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update, braze-cdk/no-changes, push-server-cdk/destroy, v3-proxy-api-cdk/add-or-update, user-list-search-cdk/no-changes

#269 fix: variable input key name
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graphql/queries/savedItemsByOffsetComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/savedItemsByOffsetSimple.graphql
  servers/v3-proxy-api/src/graphql/queries/searchSavedItemsComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/searchSavedItemsSimple.graphql
Labels: v3-proxy-api-cdk/add-or-update

#272 feat(fetch): adding in the v3/fetch api initial response
  servers/v3-proxy-api/src/graph/get/toRest.spec.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/main.ts
  servers/v3-proxy-api/src/routes/v3Fetch.integration.ts
  servers/v3-proxy-api/src/routes/v3Fetch.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/validations/FetchSchema.ts
  servers/v3-proxy-api/src/test/fixtures/fetch.ts
  servers/v3-proxy-api/src/test/fixtures/index.ts
Labels: v3-proxy-api-cdk/add-or-update

#273 fix(v3proxy): fix filters and total+complete response
  servers/v3-proxy-api/src/graph/get/toGraphQL.spec.ts
  servers/v3-proxy-api/src/graph/get/toGraphQL.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
Labels: v3-proxy-api-cdk/add-or-update

#276 fix(v3proxy): return user-provided title as given_title if exists
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/get/toRest.spec.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/graphql/fragments/SavedItemSimple.graphql
  servers/v3-proxy-api/src/test/fixtures/fixtures.ts
  servers/v3-proxy-api/src/test/fixtures/get.ts
Labels: v3-proxy-api-cdk/add-or-update

#277 fix(search): case-insensitive search for fallback title
  servers/user-list-search/src/datasource/SavedItemsDataSource.ts
  servers/user-list-search/src/freeSearch.integration.ts
  servers/user-list-search/src/freeSearchByOffset.integration.ts
Labels: user-list-search-cdk/no-changes

#279 feat(search): add domain filter to free tier search
  servers/user-list-search/src/datasource/SavedItemsDataSource.ts
  servers/user-list-search/src/freeSearch.integration.ts
  servers/user-list-search/src/freeSearchByOffset.integration.ts
Labels: user-list-search-cdk/no-changes

#278 feat(toplevel): adding in the toplevel v3 responses
  servers/v3-proxy-api/src/graph/get/toRest.spec.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/routes/v3Fetch.ts
  servers/v3-proxy-api/src/test/fixtures/fetch.ts
  servers/v3-proxy-api/src/test/fixtures/fixtures.ts
  servers/v3-proxy-api/src/test/fixtures/get-search.ts
  servers/v3-proxy-api/src/test/fixtures/get.ts
Labels: v3-proxy-api-cdk/add-or-update

#280 fix(source): adding in the pocket source response header
  servers/v3-proxy-api/src/main.ts
  servers/v3-proxy-api/src/middleware/index.ts
  servers/v3-proxy-api/src/middleware/sourceHeader.ts
  servers/v3-proxy-api/src/routes/v3Add.integration.ts
  servers/v3-proxy-api/src/routes/v3Fetch.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
Labels: v3-proxy-api-cdk/add-or-update

#282 fix(graphql): adding in an identifier for v3proxy
  servers/v3-proxy-api/src/graph/graphQLClient.ts
Labels: v3-proxy-api-cdk/add-or-update

#285 fix(sentry): ensuring that we do not truncate sentry
  servers/v3-proxy-api/src/main.ts
Labels: v3-proxy-api-cdk/add-or-update

#286 fix(since): ensuring that since is converted to a number
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
Labels: v3-proxy-api-cdk/add-or-update

#287 feat(tracing): adding in tracing to v3-proxy
  infrastructure/v3-proxy-api/src/main.ts
  packages/apollo-utils/src/index.ts
  packages/sentry/.eslintrc.js
  packages/sentry/.npmignore
  packages/sentry/README.md
  packages/sentry/jest.config.js
  packages/sentry/package.json
  packages/sentry/src/index.ts
  packages/sentry/src/initSentry.ts
  packages/sentry/tsconfig.json
  packages/tracing/package.json
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/server.ts
  servers/annotations-api/package.json
  servers/annotations-api/src/server/index.ts
  servers/feature-flags/package.json
  servers/feature-flags/src/index.ts
  servers/image-api/package.json
  servers/image-api/src/server/apollo.ts
  servers/list-api/package.json
  servers/list-api/src/server/apollo.ts
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/server.ts
  servers/shareable-lists-api/package.json
  servers/shareable-lists-api/src/express.ts
  servers/shared-snowplow-consumer/package.json
  servers/shared-snowplow-consumer/src/server.ts
  servers/user-api/package.json
  servers/user-api/src/apollo.ts
  servers/user-list-search/package.json
  servers/user-list-search/src/server/serverUtils.ts
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/config/index.ts
  servers/v3-proxy-api/src/main.ts
  servers/v3-proxy-api/src/routes/v3Add.integration.ts
  servers/v3-proxy-api/src/routes/v3Fetch.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/server.integration.ts
  servers/v3-proxy-api/src/server.ts
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update, braze-cdk/no-changes, push-server-cdk/destroy, v3-proxy-api-cdk/add-or-update, user-list-search-cdk/no-changes

#289 feat(int-mask): moving int-mask to its own package
  packages/int-mask/.eslintrc.js
  packages/int-mask/.npmignore
  packages/int-mask/README.md
  packages/int-mask/jest.config.js
  packages/int-mask/package.json
  packages/int-mask/src/index.ts
  packages/int-mask/src/intMask.spec.ts
  packages/int-mask/src/intMask.ts
  packages/int-mask/src/mask.ts
  packages/int-mask/tsconfig.json
  pnpm-lock.yaml
  servers/user-api/package.json
  servers/user-api/src/config/index.ts
  servers/user-api/src/context.ts
  servers/user-api/src/models/User.ts
  servers/user-api/src/test/functional/mutations-updateEmail.integration.ts
  servers/user-api/src/utils/intMaskMaps.ts
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update, braze-cdk/no-changes, push-server-cdk/destroy, v3-proxy-api-cdk/add-or-update, user-list-search-cdk/no-changes

#290 feat(itemmask): adding a masked item id
  infrastructure/parser-graphql-wrapper/src/main.ts
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.integration.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/parser-graphql-wrapper/src/model.ts
  servers/parser-graphql-wrapper/src/ssml/ssml.spec.ts
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update, braze-cdk/no-changes, push-server-cdk/destroy, v3-proxy-api-cdk/add-or-update, user-list-search-cdk/no-changes

#292 fix(pinpoint): removing all uses of aws pinpoint
  infrastructure/user-api/src/config/index.ts
  infrastructure/user-api/src/main.ts
  pnpm-lock.yaml
  servers/user-api/package.json
  servers/user-api/src/aws/pinpointController.spec.ts
  servers/user-api/src/aws/pinpointController.ts
  servers/user-api/src/config/index.ts
  servers/user-api/src/models/User.ts
  servers/user-api/src/resolvers/mutations.ts
  servers/user-api/src/test/functional/mutations-appleMigration.integration.ts
  servers/user-api/src/test/functional/mutations-delete.integration.ts
  servers/user-api/src/test/functional/mutations-expireUserWebSessionTokens.integration.ts
  servers/user-api/src/test/functional/mutations-updateEmail.integration.ts
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update, braze-cdk/no-changes, push-server-cdk/destroy, v3-proxy-api-cdk/add-or-update, user-list-search-cdk/no-changes

#295 chore(deps): updating all dev depenedncies
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/annotations-api-events/package.json
  lambdas/shareable-lists-api-events/package.json
  package.json
  packages/apollo-utils/package.json
  packages/eslint-config-custom/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/annotations-api/package.json
  servers/list-api/package.json
  servers/shareable-lists-api/package.json
  servers/shared-snowplow-consumer/package.json
  servers/user-api/package.json
  servers/user-list-search/package.json
  servers/v3-proxy-api/src/generated/graphql/types.ts
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update, braze-cdk/no-changes, push-server-cdk/destroy, v3-proxy-api-cdk/add-or-update, user-list-search-cdk/no-changes

#293 feat(decode): adding in intmask decoding
  packages/int-mask/jest.config.js
  packages/int-mask/jest.setup.js
  packages/int-mask/src/intMask.spec.ts
  packages/int-mask/src/intMask.ts
  servers/parser-graphql-wrapper/jest.config.js
  servers/parser-graphql-wrapper/jest.setup.js
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.integration.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/user-api/jest.config.js
  servers/user-api/jest.setup.js
  servers/user-api/src/config/index.ts
  servers/user-api/src/context.ts
  servers/user-api/src/models/User.ts
  servers/user-api/src/test/functional/mutations-delete.integration.ts
  servers/user-api/src/test/functional/mutations-updateEmail.integration.ts
  servers/user-api/src/test/functional/user.integration.ts
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update, braze-cdk/no-changes, push-server-cdk/destroy, v3-proxy-api-cdk/add-or-update, user-list-search-cdk/no-changes

#297 fix(deps): updating minor dependencies
  lambdas/fxa-webook-proxy-sqs/package.json
  lambdas/transactional-emails/package.json
  packages/terraform-modules/package.json
  packages/ts-logger/package.json
  pnpm-lock.yaml
  servers/image-api/package.json
  servers/list-api/package.json
  servers/parser-graphql-wrapper/package.json
  servers/shareable-lists-api/package.json
  servers/shared-snowplow-consumer/package.json
  servers/user-api/package.json
  servers/user-list-search/package.json
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update, braze-cdk/no-changes, push-server-cdk/destroy, v3-proxy-api-cdk/add-or-update, user-list-search-cdk/no-changes

#311 fix(jq-aws): fixing a jq & aws update
  .circleci/common.yml
  .circleci/config.yml
  package.json
  pnpm-lock.yaml
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/no-changes, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, client-api-cdk/destroy, sendgrid-data-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/no-changes, pocket-event-bridge-cdk/add-or-update, braze-cdk/no-changes, push-server-cdk/destroy, v3-proxy-api-cdk/add-or-update, user-list-search-cdk/no-changes

#313 fix(aws): ensuring aws consistency
  package.json
  pnpm-lock.yaml
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update, braze-cdk/no-changes, push-server-cdk/destroy, v3-proxy-api-cdk/add-or-update, user-list-search-cdk/no-changes

#310 fix(logs): adding in error logging
  servers/list-api/src/businessEvents/sqs/sqsListener.ts
  servers/list-api/src/businessEvents/unifiedEventKinesisHandler.ts
Labels: list-api-cdk/destroy

#318 feat(v3proxy): v3/send validator and route setup
  servers/v3-proxy-api/src/errors/InputValidationError.ts
  servers/v3-proxy-api/src/routes/v3Add.ts
  servers/v3-proxy-api/src/routes/v3Fetch.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/v3Send.ts
  servers/v3-proxy-api/src/routes/validations/SendActionValidators.ts
  servers/v3-proxy-api/src/routes/validations/SendSchema.ts
  servers/v3-proxy-api/src/routes/validations/index.ts
  servers/v3-proxy-api/src/routes/validations/sendActionValidators.spec.ts
  servers/v3-proxy-api/src/server.ts
Labels: v3-proxy-api-cdk/add-or-update

#325 feat(v3proxy/send): implement add/readd
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/routes/ActionsRouter.ts
  servers/v3-proxy-api/src/routes/v3Add.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/v3Send.ts
  servers/v3-proxy-api/src/routes/validations/SendSchema.ts
Labels: v3-proxy-api-cdk/add-or-update

#322 fix(ecs): ensuring ecs task def doesnt always change
  packages/terraform-modules/src/base/ApplicationECSContainerDefinition.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationECSService.spec.ts.snap
  packages/terraform-modules/src/pocket/__snapshots__/PocketALBApplication.spec.ts.snap
  packages/terraform-modules/src/pocket/__snapshots__/PocketECSApplication.spec.ts.snap
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update, braze-cdk/no-changes, push-server-cdk/destroy, v3-proxy-api-cdk/add-or-update, user-list-search-cdk/no-changes

#326 feat(v3proxy-send): add item property actions to v3/send
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/graph/shared/utils.ts
  servers/v3-proxy-api/src/graphql/mutations/archiveSavedItem.graphql
  servers/v3-proxy-api/src/graphql/mutations/deleteSavedItem.graphql
  servers/v3-proxy-api/src/graphql/mutations/favoriteSavedItem.graphql
  servers/v3-proxy-api/src/graphql/mutations/saveArchive.graphql
  servers/v3-proxy-api/src/graphql/mutations/saveFavorite.graphql
  servers/v3-proxy-api/src/graphql/mutations/unfavoriteSavedItem.graphql
  servers/v3-proxy-api/src/routes/ActionsRouter.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/validations/SendActionValidators.ts
  servers/v3-proxy-api/src/routes/validations/SendSchema.ts
Labels: v3-proxy-api-cdk/no-changes

#328 fix(appspec): removing appsepc generation
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/annotations-api/src/main.ts
  infrastructure/client-api/src/main.ts
  infrastructure/feature-flags/src/main.ts
  infrastructure/image-api/src/main.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/shareable-lists-api/src/main.ts
  infrastructure/shared-snowplow-consumer/src/sharedSnowplowConsumerApp.ts
  infrastructure/user-api/src/main.ts
  infrastructure/user-list-search/apollo_ecs.tf
Labels: annotations-api-cdk/add-or-update, account-data-deleter-cdk/add-or-update, user-api-cdk/no-changes, user-list-search-cdk/no-changes, parser-graphql-wrapper-cdk/no-changes, shared-snowplow-consumer-cdk/no-changes, image-api-cdk/no-changes, feature-flags-cdk/no-changes, client-api-cdk/no-changes, shareable-lists-api-cdk/no-changes, list-api-cdk/no-changes

#329 fix(lambda): making lambda ignore git_sha changes
  .circleci/common.yml
  .tfcmt.yml
  infrastructure/account-data-deleter/src/lambda/base/sqsLambda.ts
  infrastructure/account-data-deleter/src/lambda/batchDeleteLambdaResources.ts
  infrastructure/account-delete-monitor/src/sqsEventLambda.ts
  infrastructure/annotations-api/src/SqsLambda.ts
  infrastructure/fxa-webhook-proxy/src/apiGateway.ts
  infrastructure/fxa-webhook-proxy/src/main.ts
  infrastructure/fxa-webhook-proxy/src/sqsLambda.ts
  infrastructure/fxa-webhook-proxy/src/utilities.ts
  infrastructure/pocket-event-bridge/src/main.ts
  infrastructure/sendgrid-data/src/apiGateway.ts
  infrastructure/sendgrid-data/src/utilities.ts
  infrastructure/shareable-lists-api/src/SQSLambda.ts
  infrastructure/transactional-emails/src/transactionalEmailSQSLambda.ts
  packages/terraform-modules/src/base/ApplicationAutoscaling.spec.ts
  packages/terraform-modules/src/base/ApplicationBackups.spec.ts
  packages/terraform-modules/src/base/ApplicationBaseDNS.spec.ts
  packages/terraform-modules/src/base/ApplicationCertificate.spec.ts
  packages/terraform-modules/src/base/ApplicationECR.spec.ts
  packages/terraform-modules/src/base/ApplicationECSAlbCodeDeploy.spec.ts
  packages/terraform-modules/src/base/ApplicationECSCluster.spec.ts
  packages/terraform-modules/src/base/ApplicationECSIAM.spec.ts
  packages/terraform-modules/src/base/ApplicationLambdaCodeDeploy.ts
  packages/terraform-modules/src/base/ApplicationLambdaSnsTopicSubscription.spec.ts
  packages/terraform-modules/src/base/ApplicationLoadBalancer.spec.ts
  packages/terraform-modules/src/base/ApplicationMemcache.spec.ts
  packages/terraform-modules/src/base/ApplicationRDSCluster.spec.ts
  packages/terraform-modules/src/base/ApplicationRedis.spec.ts
  packages/terraform-modules/src/base/ApplicationSqsSnsTopicSubscription.spec.ts
  packages/terraform-modules/src/base/ApplicationTargetGroup.spec.ts
  packages/terraform-modules/src/base/ApplicationVersionedLambda.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationLambdaCodeDeploy.spec.ts.snap
  packages/terraform-modules/src/base/__snapshots__/ApplicationVersionedLambda.spec.ts.snap
  packages/terraform-modules/src/pocket/PocketApiGatewayLambdaIntegration.spec.ts
  packages/terraform-modules/src/pocket/PocketApiGatewayLambdaIntegration.ts
  packages/terraform-modules/src/pocket/PocketEventBridgeRuleWithMultipleTargets.spec.ts
  packages/terraform-modules/src/pocket/PocketEventBridgeWithLambdaTarget.spec.ts
  packages/terraform-modules/src/pocket/PocketPagerDuty.spec.ts
  packages/terraform-modules/src/pocket/PocketSQSWithLambdaTarget.spec.ts
  packages/terraform-modules/src/pocket/PocketSynthetics.spec.ts
  packages/terraform-modules/src/pocket/PocketVersionedLambda.spec.ts
  packages/terraform-modules/src/pocket/PocketVersionedLambda.ts
  packages/terraform-modules/src/pocket/__snapshots__/PocketApiGatewayLambdaIntegration.spec.ts.snap
  packages/terraform-modules/src/pocket/__snapshots__/PocketEventBridgeRuleWithMultipleTargets.spec.ts.snap
  packages/terraform-modules/src/pocket/__snapshots__/PocketEventBridgeWithLambdaTarget.spec.ts.snap
  packages/terraform-modules/src/pocket/__snapshots__/PocketSQSWithLambdaTarget.spec.ts.snap
  packages/terraform-modules/src/pocket/__snapshots__/PocketVersionedLambda.spec.ts.snap
  packages/terraform-modules/src/utilities.jest.ts
  packages/ts-logger/src/logger.ts
Labels: annotations-api-cdk/add-or-update, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, sendgrid-data-cdk/destroy, account-data-deleter-cdk/add-or-update, user-api-cdk/no-changes, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update, shareable-lists-api-cdk/add-or-update, braze-cdk/no-changes, user-list-search-cdk/no-changes, v3-proxy-api-cdk/no-changes, push-server-cdk/no-changes, parser-graphql-wrapper-cdk/no-changes, shared-snowplow-consumer-cdk/no-changes, image-api-cdk/no-changes, feature-flags-cdk/no-changes, client-api-cdk/no-changes, list-api-cdk/no-changes

#331 fix(infra): fix the remaining terraform constant changes
  .circleci/common.yml
  infrastructure/annotations-api/src/dynamodb.ts
  infrastructure/pocket-event-bridge/src/event-rules/shareable-lists-api-events/shareableListItemEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/utils.ts
  packages/terraform-modules/src/base/ApplicationDynamoDBTable.spec.ts
  packages/terraform-modules/src/base/ApplicationDynamoDBTable.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationDynamoDBTable.spec.ts.snap
Labels: pocket-event-bridge-cdk/destroy

#358 chore(upgrade): upgrading feature flag database
  infrastructure/feature-flags/src/main.ts
  scripts/convert-auroraV1-to-V2-postgres.sh
Labels: feature-flags-cdk/add-or-update

#374 feat(instant-sync): adding in all the necessary instant sync scaffolding
  .circleci/common.yml
  .circleci/config.yml
  .circleci/instant-sync-events.yml
  infrastructure/instant-sync-events/.eslintrc.js
  infrastructure/instant-sync-events/.terraform-version
  infrastructure/instant-sync-events/cdktf.json
  infrastructure/instant-sync-events/package.json
  infrastructure/instant-sync-events/src/config/index.ts
  infrastructure/instant-sync-events/src/main.ts
  infrastructure/instant-sync-events/src/sqsEventLambda.ts
  infrastructure/instant-sync-events/tsconfig.json
  lambdas/instant-sync-events/.eslintrc.js
  lambdas/instant-sync-events/jest.config.js
  lambdas/instant-sync-events/package.json
  lambdas/instant-sync-events/src/config.ts
  lambdas/instant-sync-events/src/handlerFns.ts
  lambdas/instant-sync-events/src/handlerMap.ts
  lambdas/instant-sync-events/src/index.ts
  lambdas/instant-sync-events/tsconfig.json
  pnpm-lock.yaml
  servers/account-data-deleter/src/dataService/accountDeleteDataService.ts
Labels: instant-sync-events-cdk/add-or-update

#376 feat(lambda): adding in the ability to add the lambda secret layer
  infrastructure/instant-sync-events/src/sqsEventLambda.ts
  lambdas/instant-sync-events/package.json
  packages/lambda-secrets/.eslintrc.js
  packages/lambda-secrets/.npmignore
  packages/lambda-secrets/README.md
  packages/lambda-secrets/jest.config.js
  packages/lambda-secrets/package.json
  packages/lambda-secrets/src/index.ts
  packages/lambda-secrets/src/secret.spec.ts
  packages/lambda-secrets/src/secrets.ts
  packages/lambda-secrets/tsconfig.json
  packages/terraform-modules/src/base/ApplicationVersionedLambda.spec.ts
  packages/terraform-modules/src/base/ApplicationVersionedLambda.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationVersionedLambda.spec.ts.snap
  packages/terraform-modules/src/pocket/PocketVersionedLambda.spec.ts
  packages/terraform-modules/src/pocket/PocketVersionedLambda.ts
  packages/terraform-modules/src/pocket/__snapshots__/PocketVersionedLambda.spec.ts.snap
  pnpm-lock.yaml
Labels: instant-sync-events-cdk/add-or-update
