Repository Pocket/pocket-monorepo, pull requests merged in 2024-11, with the labels that each got.

#907 feat(import): omnivore list import and presigned url generation
  infrastructure/list-api/src/config/index.ts
  infrastructure/list-api/src/main.ts
  pnpm-lock.yaml
  servers/account-data-deleter/jest.setup.js
  servers/account-data-deleter/src/config/index.ts
  servers/list-api/jest.config.js
  servers/list-api/jest.setup.js
  servers/list-api/package.json
  servers/list-api/schema.graphql
  servers/list-api/src/background/README.md
  servers/list-api/src/background/batchImportHandler.spec.ts
  servers/list-api/src/background/batchImportHandler.ts
  servers/list-api/src/background/index.ts
  servers/list-api/src/background/queueHandler.ts
  servers/list-api/src/background/types.ts
  servers/list-api/src/config/index.ts
  servers/list-api/src/dataService/importers/OmnivoreImportService.ts
  servers/list-api/src/dataService/savedItemsService.ts
  servers/list-api/src/dataService/tagDataService.ts
  servers/list-api/src/externalCaller/parserCaller.spec.ts
  servers/list-api/src/externalCaller/parserCaller.ts
  servers/list-api/src/featureFlags/client.ts
  servers/list-api/src/models/tag.ts
  servers/list-api/src/resolvers/index.ts
  servers/list-api/src/resolvers/mutation.ts
  servers/list-api/src/server/main.ts
  servers/list-api/src/test/graphql/mutations/batchImport.integration.ts
  servers/list-api/src/test/graphql/mutations/uploadImportUrl.integration.ts
  servers/list-api/src/types/index.ts
Labels: list-api-cdk-production/destroy

#939 feat(featureFlags/sentry): publishing feature flags client and sentry package
  packages/feature-flags-client/package.json
  packages/sentry/package.json
  pnpm-lock.yaml
Labels: feature-flags-cdk-production/add-or-update

#941 fix(otel): share the otel collector with content
  infrastructure/otel-collector/src/config/index.ts
Labels: otel-collector-cdk-production/add-or-update

#946 feat(eventBridge): create commonly named event bridge topics
  infrastructure/account-data-deleter/package.json
  infrastructure/account-delete-monitor/package.json
  infrastructure/annotations-api/package.json
  infrastructure/braze-content-proxy/package.json
  infrastructure/braze/package.json
  infrastructure/client-api/package.json
  infrastructure/feature-flags/package.json
  infrastructure/fxa-webhook-proxy/package.json
  infrastructure/image-api/package.json
  infrastructure/instant-sync-events/package.json
  infrastructure/list-api/package.json
  infrastructure/otel-collector/package.json
  infrastructure/parser-graphql-wrapper/package.json
  infrastructure/pocket-event-bridge/package.json
  infrastructure/pocket-event-bridge/src/eventBridge.ts
  infrastructure/pocket-event-bridge/src/events-schema/ForgotPasswordRequestEvent.ts
  infrastructure/pocket-event-bridge/src/events-schema/premiumPurchaseEvent.ts
  infrastructure/pocket-event-bridge/src/events-schema/queueCheckDelete.ts
  infrastructure/pocket-event-bridge/src/events-schema/types.ts
  infrastructure/pocket-event-bridge/src/events-schema/userEvents.ts
  infrastructure/pocket-event-bridge/src/events-schema/userMergeEvent.ts
  infrastructure/pocket-event-bridge/src/events-schema/userRegistrationEventSchema.ts
  infrastructure/pocket-event-bridge/src/main.ts
  infrastructure/push-server/package.json
  infrastructure/sendgrid-data/package.json
  infrastructure/shareable-lists-api/package.json
  infrastructure/shared-snowplow-consumer/package.json
  infrastructure/shares-api/package.json
  infrastructure/transactional-emails/package.json
  infrastructure/user-api/package.json
  infrastructure/v3-proxy-api/package.json
  packages/terraform-modules/package.json
  pnpm-lock.yaml
  turbo.json
Labels: pocket-event-bridge-cdk-production/destroy

#950 feat(topics): adjusting all event topics
  infrastructure/account-data-deleter/src/config/index.ts
  infrastructure/account-delete-monitor/src/config/index.ts
  infrastructure/annotations-api/src/config/index.ts
  infrastructure/instant-sync-events/src/config/index.ts
  infrastructure/shareable-lists-api/src/config/index.ts
  infrastructure/shared-snowplow-consumer/src/config/index.ts
  infrastructure/transactional-emails/src/config/index.ts
  infrastructure/user-list-search/locals.tf
Labels: user-list-search-production/destroy, shareable-lists-api-cdk-production/destroy, account-data-deleter-cdk-production/destroy, annotations-api-cdk-production/destroy, shared-snowplow-consumer-cdk-production/destroy, transactional-emails-cdk-production/destroy, instant-sync-events-cdk-production/destroy, account-delete-monitor-cdk-production/destroy

#919 fix(events): adding in event error logging
  packages/event-bridge/src/client.ts
  packages/event-bridge/src/errors.ts
Labels: pocket-event-bridge-cdk-production/add-or-update

#951 fix(eventBridge): ensuring lambdas all use the event bridge types
  lambdas/transactional-emails/src/handlers/accountDelete.spec.ts
  lambdas/transactional-emails/src/handlers/accountDelete.ts
  lambdas/transactional-emails/src/handlers/forgotPassword.spec.ts
  lambdas/transactional-emails/src/handlers/forgotPassword.ts
  lambdas/transactional-emails/src/handlers/index.ts
  lambdas/transactional-emails/src/handlers/listExportReady.spec.ts
  lambdas/transactional-emails/src/handlers/listExportReady.ts
  lambdas/transactional-emails/src/handlers/premiumPurchaseHandler.spec.ts
  lambdas/transactional-emails/src/handlers/premiumPurchaseHandler.ts
  lambdas/transactional-emails/src/handlers/userRegistrationEventHandler.spec.ts
  lambdas/transactional-emails/src/handlers/userRegistrationEventHandler.ts
  lambdas/transactional-emails/src/index.spec.ts
  lambdas/transactional-emails/src/index.ts
  lambdas/user-list-search-events/handlerFns.spec.ts
  lambdas/user-list-search-events/handlerFns.ts
  lambdas/user-list-search-events/handlerMap.ts
  lambdas/user-list-search-events/index.ts
  lambdas/user-list-search-events/package.json
  packages/event-bridge/src/events/generated/schema.json
  packages/event-bridge/src/events/types/account.ts
  pnpm-lock.yaml
Labels: pocket-event-bridge-cdk-production/add-or-update

#956 fix(release): ensuring that semantic release uses real version numbers
  packages/apollo-utils/package.json
  packages/event-bridge/package.json
  packages/feature-flags-client/package.json
  packages/image-utils/package.json
  packages/jwt-utils/package.json
  packages/lambda-secrets/package.json
  packages/sentry/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
  turbo.json
Labels: pocket-event-bridge-cdk-production/add-or-update

#957 fix(semantic-release): using the analyzeCommits command which has the last release
  packages/apollo-utils/package.json
  packages/event-bridge/package.json
  packages/feature-flags-client/package.json
  packages/image-utils/package.json
  packages/jwt-utils/package.json
  packages/lambda-secrets/package.json
  packages/sentry/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
Labels: pocket-event-bridge-cdk-production/add-or-update

#958 fix(semantic-release): ensure semantic release returns nothing
  packages/feature-flags-client/package.json
Labels: pocket-event-bridge-cdk-production/add-or-update

#959 fix(semantic-release): ensuring all analyze commits return nothing
  packages/apollo-utils/package.json
  packages/event-bridge/package.json
  packages/feature-flags-client/package.json
  packages/image-utils/package.json
  packages/jwt-utils/package.json
  packages/lambda-secrets/package.json
  packages/sentry/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
Labels: pocket-event-bridge-cdk-production/add-or-update

#960 fix(semantic-release): updating to use a silent command
  packages/apollo-utils/package.json
  packages/event-bridge/package.json
  packages/feature-flags-client/package.json
  packages/image-utils/package.json
  packages/jwt-utils/package.json
  packages/lambda-secrets/package.json
  packages/sentry/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
Labels: pocket-event-bridge-cdk-production/add-or-update

#961 fix(semantic-release): ensure we set package versions
  packages/apollo-utils/package.json
  packages/event-bridge/package.json
  packages/feature-flags-client/package.json
  packages/image-utils/package.json
  packages/jwt-utils/package.json
  packages/lambda-secrets/package.json
  packages/sentry/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
Labels: pocket-event-bridge-cdk-production/add-or-update

#954 fix(eventBridge): remove all event bridge topics
  infrastructure/pocket-event-bridge/src/event-rules/collection-events/collectionApiEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/collection-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/corpus-events/corpusEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/corpus-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/forgot-password-request/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/forgot-password-request/index.ts
  infrastructure/pocket-event-bridge/src/event-rules/list-api-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/list-api-events/listApiEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/list-export-request-ready/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/list-export-request-ready/index.ts
  infrastructure/pocket-event-bridge/src/event-rules/premium-purchase/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/premium-purchase/index.ts
  infrastructure/pocket-event-bridge/src/event-rules/search-api-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/search-api-events/pocketSearchEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/shareable-lists-api-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/shareable-lists-api-events/shareableListEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/shareable-lists-api-events/shareableListItemEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/shares-api-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/shares-api-events/pocketShareEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/user-api-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/user-api-events/userApiEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/user-registration/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/user-registration/userRegistrationEventRule.ts
  infrastructure/pocket-event-bridge/src/main.ts
Labels: pocket-event-bridge-cdk-production/destroy

#971 fix(notes:infra): fix note deployment and separate r/w endpoints
  infrastructure/notes-api/src/main.ts
  packages/terraform-modules/src/base/ApplicationRDSCluster.ts
  servers/notes-api/jest.setup.js
  servers/notes-api/src/apollo/context.ts
  servers/notes-api/src/config/index.ts
  servers/notes-api/src/datasources/NoteService.ts
  servers/notes-api/src/datasources/db.ts
Labels: feature-flags-cdk-production/destroy, notes-api-cdk-production/destroy
