Repository Pocket/pocket-monorepo, pull requests merged in 2024-10, with the labels that each got.

#789 fix(ssm): adding in v3 proxy shared ssm access
  infrastructure/v3-proxy-api/src/main.ts
Labels: v3-proxy-api-cdk-production/add-or-update

#794 feat(otel): adding in basic tracing via otel
  .github/workflows/docker-images.yml
  docker-compose.yml
  images/otel/Dockerfile
  images/otel/entrypoint.sh
  images/otel/otel-collector-config.yaml
  infrastructure/client-api/src/main.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/user-api/src/main.ts
  infrastructure/user-list-search/ecs.tf
  infrastructure/user-list-search/locals.tf
  infrastructure/v3-proxy-api/src/main.ts
  package.json
  packages/feature-flags-client/package.json
  packages/feature-flags-client/src/index.ts
  packages/sentry/src/initSentry.ts
  packages/tracing/README.md
  packages/tracing/package.json
  packages/tracing/src/tracing.ts
  pnpm-lock.yaml
  servers/client-api/config/router.yaml
  servers/list-api/package.json
  servers/list-api/src/config/index.ts
  servers/list-api/src/server/main.ts
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/main.ts
  servers/user-api/package.json
  servers/user-api/src/config/index.ts
  servers/user-api/src/main.ts
  servers/user-api/src/unleash.ts
  servers/user-list-search/package.json
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/main.ts
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/config/index.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/main.ts
  turbo.json
Labels: v3-proxy-api-cdk-production/destroy, client-api-cdk-production/destroy, user-list-search-production/destroy, user-api-cdk-production/destroy, list-api-cdk-production/destroy, parser-graphql-wrapper-cdk-production/destroy

#798 feat(otel): adding in basic tracing via otel
  .github/workflows/docker-images.yml
  docker-compose.yml
  images/otel/Dockerfile
  images/otel/entrypoint.sh
  images/otel/otel-collector-config.yaml
  infrastructure/client-api/src/main.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/user-api/src/main.ts
  infrastructure/user-list-search/ecs.tf
  infrastructure/user-list-search/locals.tf
  infrastructure/v3-proxy-api/src/main.ts
  package.json
  packages/feature-flags-client/package.json
  packages/feature-flags-client/src/index.ts
  packages/sentry/src/initSentry.ts
  packages/tracing/README.md
  packages/tracing/package.json
  packages/tracing/src/tracing.ts
  pnpm-lock.yaml
  servers/client-api/config/router.yaml
  servers/list-api/package.json
  servers/list-api/src/config/index.ts
  servers/list-api/src/server/main.ts
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/main.ts
  servers/user-api/package.json
  servers/user-api/src/config/index.ts
  servers/user-api/src/main.ts
  servers/user-api/src/unleash.ts
  servers/user-list-search/package.json
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/main.ts
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/config/index.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/main.ts
  turbo.json
Labels: v3-proxy-api-cdk-production/destroy, client-api-cdk-production/destroy, user-list-search-production/destroy, user-api-cdk-production/destroy, list-api-cdk-production/destroy, parser-graphql-wrapper-cdk-production/destroy

#799 Revert "feat(otel): adding in basic tracing via otel"
  .github/workflows/docker-images.yml
  docker-compose.yml
  images/otel/Dockerfile
  images/otel/entrypoint.sh
  images/otel/otel-collector-config.yaml
  infrastructure/client-api/src/main.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/user-api/src/main.ts
  infrastructure/user-list-search/ecs.tf
  infrastructure/user-list-search/locals.tf
  infrastructure/v3-proxy-api/src/main.ts
  package.json
  packages/feature-flags-client/package.json
  packages/feature-flags-client/src/index.ts
  packages/sentry/src/initSentry.ts
  packages/tracing/README.md
  packages/tracing/package.json
  packages/tracing/src/tracing.ts
  pnpm-lock.yaml
  servers/client-api/config/router.yaml
  servers/list-api/package.json
  servers/list-api/src/config/index.ts
  servers/list-api/src/server/main.ts
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/main.ts
  servers/user-api/package.json
  servers/user-api/src/config/index.ts
  servers/user-api/src/main.ts
  servers/user-api/src/unleash.ts
  servers/user-list-search/package.json
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/main.ts
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/config/index.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/main.ts
  turbo.json
Labels: user-api-cdk-production/add-or-update, client-api-cdk-production/add-or-update, list-api-cdk-production/add-or-update, user-list-search-production/destroy, v3-proxy-api-cdk-production/add-or-update

#801 feat(otel): creating the otel collector service
  .github/workflows/otel-collector.yml
  infrastructure/otel-collector/.gitignore
  infrastructure/otel-collector/.terraform-version
  infrastructure/otel-collector/cdktf.json
  infrastructure/otel-collector/eslint.config.mjs
  infrastructure/otel-collector/package.json
  infrastructure/otel-collector/src/config/index.ts
  infrastructure/otel-collector/src/main.ts
  infrastructure/otel-collector/tsconfig.json
  pnpm-lock.yaml
  servers/otel-collector/Dockerfile
  servers/otel-collector/entrypoint.sh
  servers/otel-collector/httpd.conf
  servers/otel-collector/otel-collector-config.yaml
Labels: otel-collector-cdk-production/add-or-update

#800 feat(otel): adding in basic tracing via otel
  docker-compose.yml
  infrastructure/client-api/src/config/index.ts
  infrastructure/client-api/src/main.ts
  infrastructure/list-api/src/config/index.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/config/index.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/user-api/src/config/index.ts
  infrastructure/user-api/src/main.ts
  infrastructure/user-list-search/apollo_ecs.tf
  infrastructure/user-list-search/ecs.tf
  infrastructure/user-list-search/locals.tf
  infrastructure/user-list-search/queue_users_ecs.tf
  infrastructure/v3-proxy-api/src/config/index.ts
  infrastructure/v3-proxy-api/src/main.ts
  package.json
  packages/feature-flags-client/package.json
  packages/feature-flags-client/src/index.ts
  packages/sentry/src/featureFlagTraceSampler.ts
  packages/sentry/src/initSentry.ts
  packages/tracing/README.md
  packages/tracing/package.json
  packages/tracing/src/tracing.ts
  pnpm-lock.yaml
  servers/client-api/config/router.yaml
  servers/list-api/package.json
  servers/list-api/src/config/index.ts
  servers/list-api/src/server/main.ts
  servers/otel-collector/httpd.conf
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/main.ts
  servers/user-api/package.json
  servers/user-api/src/config/index.ts
  servers/user-api/src/main.ts
  servers/user-api/src/unleash.ts
  servers/user-list-search/package.json
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/main.ts
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/config/index.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/main.ts
  turbo.json
Labels: v3-proxy-api-cdk-production/destroy, client-api-cdk-production/destroy, user-list-search-production/destroy, user-api-cdk-production/destroy, list-api-cdk-production/destroy, parser-graphql-wrapper-cdk-production/destroy

#822 feat(export): events infrastructure for export
  infrastructure/pocket-event-bridge/src/event-rules/list-api-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/list-export-request-ready/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/list-export-request-ready/index.ts
Labels: pocket-event-bridge-cdk-production/add-or-update

#819 feat(export): asynchronous export service for user list
  .docker/aws-resources/account-data-deleter.sh
  infrastructure/account-data-deleter/src/config/index.ts
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/account-data-deleter/src/main.ts
  infrastructure/transactional-emails/src/config/index.ts
  infrastructure/transactional-emails/src/transactionalEmailSQSLambda.ts
  lambdas/transactional-emails/src/braze.ts
  lambdas/transactional-emails/src/config.ts
  lambdas/transactional-emails/src/handlers/index.ts
  lambdas/transactional-emails/src/handlers/listExportReady.spec.ts
  lambdas/transactional-emails/src/handlers/listExportReady.ts
  lambdas/transactional-emails/src/schemas/listExportReadyEvent.ts
  packages/terraform-modules/src/base/ApplicationSqsSnsTopicSubscription.ts
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/config/index.ts
  servers/account-data-deleter/src/dataService/clients.ts
  servers/account-data-deleter/src/dataService/listDataExportService.spec.ts
  servers/account-data-deleter/src/dataService/listDataExportService.ts
  servers/account-data-deleter/src/dataService/s3Service.integration.ts
  servers/account-data-deleter/src/dataService/s3Service.ts
  servers/account-data-deleter/src/queueHandlers/batchDeleteHandler.spec.ts
  servers/account-data-deleter/src/queueHandlers/batchDeleteHandler.ts
  servers/account-data-deleter/src/queueHandlers/exportHandler.spec.ts
  servers/account-data-deleter/src/queueHandlers/exportHandler.ts
  servers/account-data-deleter/src/queueHandlers/queueHandler.ts
  servers/account-data-deleter/src/routes/queueDelete.integration.ts
  servers/account-data-deleter/src/routes/queueDelete.ts
  servers/account-data-deleter/src/types.ts
  servers/list-api/package.json
  servers/list-api/schema.graphql
  servers/list-api/src/businessEvents/exportListEvent.ts
  servers/list-api/src/businessEvents/itemsEventEmitter.spec.ts
  servers/list-api/src/businessEvents/types.ts
  servers/list-api/src/businessEvents/unifiedEventKinesisHandler.spec.ts
  servers/list-api/src/resolvers/index.ts
  servers/list-api/src/resolvers/mutation.ts
  servers/list-api/src/server/context.ts
  servers/list-api/src/test/graphql/mutations/exportList.integration.ts
  servers/list-api/src/test/integrations/eventBridge.integration.ts
Labels: transactional-emails-cdk-production/add-or-update, account-data-deleter-cdk-production/destroy

#823 fix(export): fix missing main reference
  infrastructure/pocket-event-bridge/src/event-rules/list-export-request-ready/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/list-export-request-ready/index.ts
  infrastructure/pocket-event-bridge/src/main.ts
Labels: pocket-event-bridge-cdk-production/add-or-update

#828 fix(v3): bumping task sizes for v3 proxy
  infrastructure/v3-proxy-api/src/main.ts
Labels: v3-proxy-api-cdk-production/destroy

#830 fix(v3): move the v3 proxy to be external for CDN
  infrastructure/v3-proxy-api/src/main.ts
Labels: v3-proxy-api-cdk-production/destroy

#836 fix(export): bucket permissions
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/account-data-deleter/src/main.ts
Labels: account-data-deleter-cdk-production/add-or-update

#839 feat(tracing): add tracing to account data deleter
  infrastructure/account-data-deleter/src/config/index.ts
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/config/index.ts
  servers/account-data-deleter/src/main.ts
  servers/account-data-deleter/src/server.ts
Labels: account-data-deleter-cdk-production/destroy

#851 fix(alarms): updating dlq alarm logic
  infrastructure/pocket-event-bridge/src/event-rules/utils.ts
Labels: pocket-event-bridge-cdk-production/add-or-update

#850 feat(tracing): adding tracing to annotations-api
  infrastructure/annotations-api/src/config/index.ts
  infrastructure/annotations-api/src/main.ts
  pnpm-lock.yaml
  servers/annotations-api/package.json
  servers/annotations-api/src/config/index.ts
  servers/annotations-api/src/main.ts
  servers/annotations-api/src/unleash.ts
  servers/v3-proxy-api/src/config/index.ts
Labels: annotations-api-cdk-production/destroy

#856 feat(tracing): adding tracing to image api
  infrastructure/image-api/src/config/index.ts
  infrastructure/image-api/src/main.ts
  pnpm-lock.yaml
  servers/image-api/package.json
  servers/image-api/src/config/index.ts
  servers/image-api/src/server/main.ts
  servers/image-api/src/unleash.ts
Labels: image-api-cdk-production/destroy

#857 feat(tracing): adding tracing to shares api
  infrastructure/shares-api/src/main.ts
  pnpm-lock.yaml
  servers/shares-api/package.json
  servers/shares-api/src/config/index.ts
  servers/shares-api/src/main.ts
  servers/shares-api/src/unleash.ts
Labels: shares-api-cdk-production/destroy

#865 fix(export): use iam user for presigned url access grant
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/account-data-deleter/src/main.ts
  servers/account-data-deleter/src/config/index.ts
  servers/account-data-deleter/src/dataService/listDataExportService.ts
  servers/account-data-deleter/src/dataService/s3Service.ts
Labels: account-data-deleter-cdk-production/destroy

#867 fix(otlp): ensuring shares api sends data
  infrastructure/shares-api/src/config/index.ts
  infrastructure/shares-api/src/main.ts
Labels: shares-api-cdk-production/destroy

#872 fix(deletes): 'historical' delete process fixes
  infrastructure/account-data-deleter/src/config/index.ts
  servers/user-api/src/dataService/userDataService.ts
  servers/user-api/src/models/User.ts
  servers/user-api/src/test/functional/mutations-delete.integration.ts
Labels: account-data-deleter-cdk-production/add-or-update

#873 fix(account-delete): making emails optional for deletion in account deleter
  infrastructure/account-data-deleter/src/config/index.ts
  infrastructure/account-data-deleter/src/lambda/batchDeleteLambdaResources.ts
  lambdas/account-data-deleter-events/src/handlers/accountDelete/index.spec.ts
  lambdas/account-data-deleter-events/src/handlers/accountDelete/index.ts
  servers/account-data-deleter/src/routes/queueDelete.ts
  servers/account-data-deleter/src/routes/schemas.ts
Labels: account-data-deleter-cdk-production/add-or-update

#887 fix(accountDelete): speeding up account deleter historical
  infrastructure/account-data-deleter/src/config/index.ts
Labels: account-data-deleter-cdk-production/add-or-update

#903 feat(import): omnivore list imports (part 1)
  .docker/aws-resources/account-data-deleter.sh
  infrastructure/account-data-deleter/src/config/index.ts
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/account-data-deleter/src/main.ts
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/config/index.ts
  servers/account-data-deleter/src/dataService/importers/ImportBase.ts
  servers/account-data-deleter/src/dataService/importers/OmnivoreImport.integration.ts
  servers/account-data-deleter/src/dataService/importers/OmnivoreImport.ts
  servers/account-data-deleter/src/dataService/importers/types.ts
  servers/account-data-deleter/src/dataService/s3Service.ts
  servers/account-data-deleter/src/queueHandlers/importHandler.ts
  servers/account-data-deleter/src/queueHandlers/index.ts
  servers/account-data-deleter/src/server.ts
  servers/account-data-deleter/test/imports/omnivore-test.zip
Labels: account-data-deleter-cdk-production/destroy
