Repository Pocket/pocket-monorepo, pull requests merged in 2024-09, with the labels that each got.

#710 feat(braze): block all ips that are not braze
  infrastructure/braze-content-proxy/src/main.ts
Labels: braze-content-proxy-cdk-production/add-or-update

#718 fix(secrets): add lambda secret layer
  infrastructure/fxa-webhook-proxy/src/sqsLambda.ts
Labels: fxa-webhook-proxy-cdk-production/add-or-update

#722 fix(logging): do not use data key
  lambdas/user-list-search-corpus-parser-hydration/src/bulkIndex.ts
  lambdas/user-list-search-corpus-parser-hydration/src/index.ts
  lambdas/user-list-search-corpus-parser-hydration/src/parserRequest.ts
Labels: user-list-search-production/destroy

#725 fix(infra): opensearch rollback workaround
  infrastructure/user-list-search/corpus-embeddings/opensearch.tf
Labels: user-list-search-production/destroy

#734 fix(infra): fix perms for putting events on event bridge
  infrastructure/user-list-search/ecs_iam.tf
  infrastructure/user-list-search/elasticsearch.tf
Labels: user-list-search-production/add-or-update

#736 feat(corpus search): new index and engine for search
  .docker/aws-resources/elasticsearch/esindex_corpus_en_luc.json
  .docker/aws-resources/user-list-search.sh
  infrastructure/user-list-search/corpus-embeddings/locals.tf
  infrastructure/user-list-search/corpus_events_consumer.tf
  infrastructure/user-list-search/corpus_events_hydration_consumer.tf
  infrastructure/user-list-search/locals.tf
  lambdas/user-list-search-corpus-indexing/src/config.ts
  lambdas/user-list-search-corpus-indexing/src/index.integration.ts
  lambdas/user-list-search-corpus-indexing/src/index.spec.ts
  lambdas/user-list-search-corpus-parser-hydration/src/config.ts
  lambdas/user-list-search-corpus-parser-hydration/src/index.integration.ts
  lambdas/user-list-search-corpus-parser-hydration/src/index.spec.ts
  servers/shared-snowplow-consumer/snowtype.config.json
  servers/shared-snowplow-consumer/src/snowtype/.snowtype-lock.json
  servers/shared-snowplow-consumer/src/snowtype/snowplow.ts
  servers/user-list-search/schema.graphql
  servers/user-list-search/snowtype.config.json
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/corpus/CorpusSearchModel.ts
  servers/user-list-search/src/corpus/CorpusSearchQueryBuilder.ts
  servers/user-list-search/src/corpus/keywordSearch.integration.ts
  servers/user-list-search/src/corpus/searchCorpus.spec.ts
  servers/user-list-search/src/corpus/semanticSearch.integration.ts
  servers/user-list-search/src/datasource/clients/unleash.ts
  servers/user-list-search/src/events/EventBus.spec.ts
  servers/user-list-search/src/events/EventBus.ts
  servers/user-list-search/src/main.ts
  servers/user-list-search/src/server/serverUtils.ts
  servers/user-list-search/src/snowtype/snowplow.ts
  servers/user-list-search/src/test/data/corpusSeeds.json
  servers/user-list-search/src/test/data/searchBodyResponse.json
  servers/user-list-search/src/test/utils/mockUnleashFlags.ts
Labels: user-list-search-production/destroy

#745 fix(search:events): fix detail-type in rule
  infrastructure/pocket-event-bridge/src/event-rules/search-api-events/eventConfig.ts
Labels: pocket-event-bridge-cdk-production/add-or-update

#768 feat(search:corpus): ingest removed corpus events
  infrastructure/pocket-event-bridge/src/event-rules/corpus-events/eventConfig.ts
  infrastructure/user-list-search/sqs_sns_topic_subscription.tf
  lambdas/user-list-search-corpus-indexing/src/commands/RemoveItem.ts
  lambdas/user-list-search-corpus-indexing/src/index.integration.ts
  lambdas/user-list-search-corpus-indexing/src/index.ts
  lambdas/user-list-search-corpus-indexing/src/types.ts
Labels: user-list-search-production/add-or-update, pocket-event-bridge-cdk-production/add-or-update

#769 fix(rdsReader): adding in a rds reader endpoint
  packages/terraform-modules/src/base/ApplicationRDSCluster.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationRDSCluster.spec.ts.snap
Labels: shareable-lists-api-cdk-production/destroy, feature-flags-cdk-production/destroy

#788 fix(v3): adding in sentry sampler to v3 proxy
  infrastructure/v3-proxy-api/src/main.ts
  pnpm-lock.yaml
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/config/index.ts
  servers/v3-proxy-api/src/main.ts
  servers/v3-proxy-api/src/unleash.ts
Labels: v3-proxy-api-cdk-production/destroy
