Repository Pocket/pocket-monorepo, pull requests merged in 2024-05, with the labels that each got.

#522 feat(shares): edit share context after creation
  infrastructure/shares-api/src/main.ts
  pnpm-lock.yaml
  servers/shares-api/schema.graphql
  servers/shares-api/src/__generated__/types.ts
  servers/shares-api/src/apollo/context.ts
  servers/shares-api/src/apollo/resolvers.ts
  servers/shares-api/src/config/index.ts
  servers/shares-api/src/datasources/shares.ts
  servers/shares-api/src/models/PocketShare.ts
  servers/shares-api/src/models/ShareNotFoundModel.ts
  servers/shares-api/src/models/UserContext.ts
  servers/shares-api/src/test/Max300CharString.integration.ts
  servers/shares-api/src/test/addShareContext.integration.ts
  servers/shares-api/src/test/createShareLink.integration.ts
  servers/shares-api/src/test/operations.ts
  servers/shares-api/src/test/shareSlug.integration.ts
Labels: shares-api-cdk/destroy

#536 feat(annotations): add annotation by URL
  infrastructure/annotations-api/src/main.ts
  pnpm-lock.yaml
  servers/annotations-api/package.json
  servers/annotations-api/schema.graphql
  servers/annotations-api/src/__generated__/resolvers-types.ts
  servers/annotations-api/src/config/index.ts
  servers/annotations-api/src/dataservices/dataloaders.spec.ts
  servers/annotations-api/src/dataservices/dataloaders.ts
  servers/annotations-api/src/dataservices/parserApi.ts
  servers/annotations-api/src/models/HighlightsModel.ts
  servers/annotations-api/src/server/apollo/context.ts
  servers/annotations-api/src/server/apollo/resolvers.ts
  servers/annotations-api/src/test/mutation/highlights-create.integration.ts
  servers/annotations-api/src/test/mutation/highlights-mutations.ts
  servers/annotations-api/src/test/mutation/notes-create.integration.ts
  servers/annotations-api/src/test/mutation/notes-delete.integration.ts
  servers/annotations-api/src/test/mutation/notes-update.integration.ts
Labels: annotations-api-cdk/destroy

#544 feat(shares:events) emit events when share links are created/updated
  infrastructure/pocket-event-bridge/src/event-rules/shares-api-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/shares-api-events/pocketShareEventRules.ts
  infrastructure/pocket-event-bridge/src/main.ts
  infrastructure/shared-snowplow-consumer/src/config/index.ts
  infrastructure/shared-snowplow-consumer/src/main.ts
  infrastructure/shares-api/src/config/index.ts
  infrastructure/shares-api/src/main.ts
  pnpm-lock.yaml
  servers/shared-snowplow-consumer/snowtype.config.json
  servers/shared-snowplow-consumer/src/config/index.ts
  servers/shared-snowplow-consumer/src/eventConsumer/index.ts
  servers/shared-snowplow-consumer/src/eventConsumer/sharesEvents/sharesEventConsumer.ts
  servers/shared-snowplow-consumer/src/snowplow/EventHandler.ts
  servers/shared-snowplow-consumer/src/snowplow/collection/collectionEventHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/prospect/prospectEventHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableList/shareableListEventHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableListItem/shareableListItemEventHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/shares/shareHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/shares/shareHandler.ts
  servers/shared-snowplow-consumer/src/snowplow/user/userEventHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowtype/snowplow.ts
  servers/shares-api/package.json
  servers/shares-api/schema.graphql
  servers/shares-api/src/__generated__/types.ts
  servers/shares-api/src/apollo/context.ts
  servers/shares-api/src/config/index.ts
  servers/shares-api/src/events/EventBus.ts
  servers/shares-api/src/events/client.ts
  servers/shares-api/src/events/index.ts
  servers/shares-api/src/models/PocketShare.ts
  servers/shares-api/src/test/addShareContext.integration.ts
  servers/shares-api/src/test/createShareLink.integration.ts
Labels: shared-snowplow-consumer-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update, shares-api-cdk/destroy

#564 feat(search): add unleash client
  infrastructure/user-list-search/README.md
  infrastructure/user-list-search/apollo_codedeploy.tf
  infrastructure/user-list-search/apollo_ecs.tf
  infrastructure/user-list-search/backfill_item_update_consumer.tf
  infrastructure/user-list-search/backfill_user_list_import_consumer.tf
  infrastructure/user-list-search/dev_backend.tfvars
  infrastructure/user-list-search/ecs.tf
  infrastructure/user-list-search/ecs_iam.tf
  infrastructure/user-list-search/item_delete_consumer.tf
  infrastructure/user-list-search/locals.tf
  infrastructure/user-list-search/main.tf
  infrastructure/user-list-search/prod_backend.tfvars
  pnpm-lock.yaml
  servers/user-list-search/package.json
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/datasource/clients/unleash.ts
  servers/user-list-search/src/main.ts
Labels: user-list-search-cdk/destroy

#565 fix(search): fix reference to shared secret
  .husky/pre-commit
  infrastructure/user-list-search/ecs.tf
  infrastructure/user-list-search/locals.tf
Labels: user-list-search-cdk/destroy

#567 feat(search:corpus): add indices for language-specific corpora
  .docker/aws-resources/elasticsearch/esindex_corpus_de.json
  .docker/aws-resources/elasticsearch/esindex_corpus_en.json
  .docker/aws-resources/elasticsearch/esindex_corpus_es.json
  .docker/aws-resources/elasticsearch/esindex_corpus_fr.json
  .docker/aws-resources/elasticsearch/esindex_corpus_it.json
  .docker/aws-resources/elasticsearch/esindex_list.json
  .docker/aws-resources/user-list-search.sh
  infrastructure/user-list-search/apollo_ecs.tf
  infrastructure/user-list-search/locals.tf
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/datasource/elasticsearch/advancedSearch.integration.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchBulk.integration.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchBulk.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.integration.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.ts
  servers/user-list-search/src/elasticsearch.integration.ts
  servers/user-list-search/src/elasticsearch.ts
  servers/user-list-search/src/premiumSearch.integration.ts
  servers/user-list-search/src/premiumSearchByOffset.integration.ts
  servers/user-list-search/src/server/routes/itemDelete.integration.ts
  servers/user-list-search/src/server/routes/itemUpdate.integration.ts
Labels: user-list-search-cdk/destroy

#572 chore(costs): adding in cost center tags
  infrastructure/account-data-deleter/src/config/index.ts
  infrastructure/account-delete-monitor/src/config/index.ts
  infrastructure/annotations-api/src/config/index.ts
  infrastructure/braze/src/config/index.ts
  infrastructure/client-api/src/config/index.ts
  infrastructure/feature-flags/src/config/index.ts
  infrastructure/fxa-webhook-proxy/src/config/index.ts
  infrastructure/image-api/src/config/index.ts
  infrastructure/instant-sync-events/src/config/index.ts
  infrastructure/list-api/src/config/index.ts
  infrastructure/parser-graphql-wrapper/src/config/index.ts
  infrastructure/pocket-event-bridge/src/config/index.ts
  infrastructure/push-server/src/config/index.ts
  infrastructure/sendgrid-data/src/config/index.ts
  infrastructure/shareable-lists-api/src/config/index.ts
  infrastructure/shared-snowplow-consumer/src/config/index.ts
  infrastructure/shares-api/src/config/index.ts
  infrastructure/transactional-emails/src/config/index.ts
  infrastructure/user-api/src/config/index.ts
  infrastructure/user-list-search/locals.tf
  infrastructure/v3-proxy-api/src/config/index.ts
Labels: shared-snowplow-consumer-cdk/add-or-update, parser-graphql-wrapper-cdk/add-or-update, annotations-api-cdk/add-or-update, image-api-cdk/add-or-update, transactional-emails-cdk/add-or-update, user-api-cdk/add-or-update, feature-flags-cdk/add-or-update, sendgrid-data-cdk/add-or-update, account-data-deleter-cdk/add-or-update, list-api-cdk/add-or-update, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update, shareable-lists-api-cdk/add-or-update, client-api-cdk/add-or-update, user-list-search-cdk/add-or-update, braze-cdk/add-or-update, v3-proxy-api-cdk/add-or-update, instant-sync-events-cdk/add-or-update, push-server-cdk/add-or-update, shares-api-cdk/add-or-update

#573 chore(pnpm): updating pnpm to use package scope
  .circleci/common.yml
Labels: fxa-webhook-proxy-cdk/destroy

#578 SE-3734 Putting client-api behind WAF
  infrastructure/client-api/src/main.ts
  packages/terraform-modules/src/pocket/PocketALBApplication.spec.ts
  packages/terraform-modules/src/pocket/PocketALBApplication.ts
Labels: client-api-cdk/add-or-update

#583 chore(search): disable search SQS message processing for ES migration
  infrastructure/user-list-search/backfill_item_update_consumer.tf
  infrastructure/user-list-search/backfill_user_list_import_consumer.tf
  infrastructure/user-list-search/corpus_events_consumer.tf
  infrastructure/user-list-search/event_handler_consumer.tf
  infrastructure/user-list-search/item_delete_consumer.tf
  infrastructure/user-list-search/item_update_consumer.tf
  infrastructure/user-list-search/user_list_import_consumer.tf
Labels: user-list-search-cdk/add-or-update

#587 chore(search:infra): re-enable lambdas
  infrastructure/user-list-search/backfill_item_update_consumer.tf
  infrastructure/user-list-search/backfill_user_list_import_consumer.tf
  infrastructure/user-list-search/corpus_events_consumer.tf
  infrastructure/user-list-search/elasticsearch.tf
  infrastructure/user-list-search/event_handler_consumer.tf
  infrastructure/user-list-search/item_delete_consumer.tf
  infrastructure/user-list-search/item_update_consumer.tf
  infrastructure/user-list-search/user_list_import_consumer.tf
Labels: user-list-search-cdk/add-or-update

#586 SE-3734 Updating the rate-limit rule
  infrastructure/client-api/src/main.ts
Labels: client-api-cdk/add-or-update

#588 Adding Snowplow NAT IPs to AllowList
  infrastructure/client-api/src/main.ts
Labels: client-api-cdk/add-or-update
