Repository Pocket/pocket-monorepo, pull requests merged in 2024-01, with the labels that each got.

#41 feat(router): Stand up apollo router
  .circleci/common.yml
  .circleci/config.yml
  .circleci/pocket-router.yml
  .prettierignore
  .prettierrc
  infrastructure/pocket-router/.eslintrc.js
  infrastructure/pocket-router/.gitignore
  infrastructure/pocket-router/.terraform-version
  infrastructure/pocket-router/cdktf.json
  infrastructure/pocket-router/package.json
  infrastructure/pocket-router/src/config/index.ts
  infrastructure/pocket-router/src/main.ts
  infrastructure/pocket-router/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  servers/pocket-router/.apollo/router_config_schema.json
  servers/pocket-router/.env.example
  servers/pocket-router/.gitignore
  servers/pocket-router/.idea/.gitignore
  servers/pocket-router/.idea/graphql-settings.xml
  servers/pocket-router/.idea/jsonSchemas.xml
  servers/pocket-router/.prettierrc
  servers/pocket-router/.vscode/extensions.json
  servers/pocket-router/.vscode/settings.json
  servers/pocket-router/Dockerfile
  servers/pocket-router/LICENSE
  servers/pocket-router/README.md
  servers/pocket-router/config/router.yaml
  servers/pocket-router/config/supergraph.yaml
  servers/pocket-router/renovate.json
  servers/pocket-router/rhai/claims_forwarding.rhai
  servers/pocket-router/rhai/header_extraction.rhai
  servers/pocket-router/rhai/main.rhai
Labels: shared-snowplow-consumer-cdk/add-or-update, parser-graphql-wrapper-cdk/add-or-update, annotations-api-cdk/add-or-update, image-api-cdk/add-or-update, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, user-api-cdk/add-or-update, pocket-router-cdk/add-or-update

#46 fix(tf): build prefix for workspace to avoid TF_WORKSPACE variable use
  .circleci/common.yml
  infrastructure/annotations-api/src/main.ts
  infrastructure/fxa-webhook-proxy/src/main.ts
  infrastructure/image-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/pocket-router/src/main.ts
  infrastructure/shared-snowplow-consumer/src/main.ts
  infrastructure/transactional-emails/src/main.ts
  infrastructure/user-api/src/main.ts
Labels: shared-snowplow-consumer-cdk/add-or-update, parser-graphql-wrapper-cdk/add-or-update, annotations-api-cdk/add-or-update, image-api-cdk/add-or-update, transactional-emails-cdk/add-or-update, user-api-cdk/add-or-update, pocket-router-cdk/destroy

#50 chore(client-api): set blue/green task set termination to 5 mins
  infrastructure/client-api/src/main.ts
Labels: client-api-cdk/destroy

#55 fix(health): updating client api health check
  infrastructure/client-api/src/main.ts
Labels: client-api-cdk/destroy

#54 fix(list): remove sha1 from list so the task def stops changing
  infrastructure/list-api/src/main.ts
Labels: list-api-cdk/destroy

#43 feat(feature-flags): initial import of feature-flags from 6ee7c5f3dc02119c0f6357c33f0d268c414d2391
  .circleci/common.yml
  .circleci/config.yml
  .circleci/feature-flags.yml
  infrastructure/feature-flags/.eslintrc.js
  infrastructure/feature-flags/.terraform-version
  infrastructure/feature-flags/cdktf.json
  infrastructure/feature-flags/package.json
  infrastructure/feature-flags/src/config/index.ts
  infrastructure/feature-flags/src/main.ts
  infrastructure/feature-flags/tsconfig.json
  lambdas/fxa-webook-proxy-gateway/package.json
  pnpm-lock.yaml
  servers/feature-flags/.eslintrc.js
  servers/feature-flags/README.md
  servers/feature-flags/fixtures/getUnleashAssignments.gql
  servers/feature-flags/jest.config.js
  servers/feature-flags/package.json
  servers/feature-flags/schema.graphql
  servers/feature-flags/src/admin/jwtAuthHook.ts
  servers/feature-flags/src/config/index.ts
  servers/feature-flags/src/graphql/index.spec.ts
  servers/feature-flags/src/graphql/index.ts
  servers/feature-flags/src/graphql/resolvers.spec.ts
  servers/feature-flags/src/graphql/resolvers.ts
  servers/feature-flags/src/graphql/typeDefs.ts
  servers/feature-flags/src/index.spec.ts
  servers/feature-flags/src/index.ts
  servers/feature-flags/src/main.ts
  servers/feature-flags/src/unleashClient/index.ts
  servers/feature-flags/src/unleashClient/strategy/accountAge.spec.ts
  servers/feature-flags/src/unleashClient/strategy/accountAge.ts
  servers/feature-flags/src/unleashClient/strategy/accountAgeAtStart.spec.ts
  servers/feature-flags/src/unleashClient/strategy/accountAgeAtStart.ts
  servers/feature-flags/src/unleashClient/strategy/hasUserModel.spec.ts
  servers/feature-flags/src/unleashClient/strategy/hasUserModel.ts
  servers/feature-flags/src/unleashClient/strategy/newUser.spec.ts
  servers/feature-flags/src/unleashClient/strategy/newUser.ts
  servers/feature-flags/src/unleashClient/strategy/newUserInLocale.spec.ts
  servers/feature-flags/src/unleashClient/strategy/newUserInLocale.ts
  servers/feature-flags/src/unleashClient/strategy/userInLocale.spec.ts
  servers/feature-flags/src/unleashClient/strategy/userInLocale.ts
  servers/feature-flags/src/utils/customErrors.ts
  servers/feature-flags/src/utils/pocketSupportedLocales.ts
  servers/feature-flags/tsconfig.json
Labels: shared-snowplow-consumer-cdk/add-or-update, parser-graphql-wrapper-cdk/add-or-update, annotations-api-cdk/add-or-update, image-api-cdk/add-or-update, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, user-api-cdk/add-or-update, list-api-cdk/destroy, feature-flags-cdk/destroy

#57 fix(featureflags): ensuring feature flags deploys to client api correct
  .circleci/feature-flags.yml
  servers/feature-flags/package.json
Labels: feature-flags-cdk/add-or-update

#58 fix(feature flags): update start
  servers/feature-flags/package.json
Labels: feature-flags-cdk/add-or-update

#56 feat(sendgrid-data): importing sendgrid-data from commit 2df7dcba093649e363d33b45b403f95f9ebe6db5
  .circleci/common.yml
  .circleci/config.yml
  .circleci/sendgrid-data.yml
  infrastructure/sendgrid-data/.eslintrc.js
  infrastructure/sendgrid-data/.terraform-version
  infrastructure/sendgrid-data/cdktf.json
  infrastructure/sendgrid-data/package.json
  infrastructure/sendgrid-data/src/apiGateway.ts
  infrastructure/sendgrid-data/src/config/index.ts
  infrastructure/sendgrid-data/src/main.ts
  infrastructure/sendgrid-data/src/utilities.ts
  infrastructure/sendgrid-data/tsconfig.json
  lambdas/sendgrid-data/.eslintrc.js
  lambdas/sendgrid-data/jest.config.js
  lambdas/sendgrid-data/jest.setup.js
  lambdas/sendgrid-data/package.json
  lambdas/sendgrid-data/post_example.json
  lambdas/sendgrid-data/post_pocket_example.json
  lambdas/sendgrid-data/readme.md
  lambdas/sendgrid-data/src/config/index.ts
  lambdas/sendgrid-data/src/index.ts
  lambdas/sendgrid-data/src/sendgrid/cloudwatch-metrics.spec.ts
  lambdas/sendgrid-data/src/sendgrid/cloudwatch-metrics.ts
  lambdas/sendgrid-data/src/sendgrid/event.ts
  lambdas/sendgrid-data/src/sendgrid/firehose.spec.ts
  lambdas/sendgrid-data/src/sendgrid/firehose.ts
  lambdas/sendgrid-data/src/sendgrid/index.ts
  lambdas/sendgrid-data/src/sendgrid/util.spec.ts
  lambdas/sendgrid-data/src/sendgrid/util.ts
  lambdas/sendgrid-data/src/sentry.ts
  lambdas/sendgrid-data/tsconfig.json
  pnpm-lock.yaml
Labels: shared-snowplow-consumer-cdk/add-or-update, parser-graphql-wrapper-cdk/add-or-update, annotations-api-cdk/add-or-update, image-api-cdk/add-or-update, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, user-api-cdk/add-or-update, list-api-cdk/destroy, feature-flags-cdk/add-or-update, sendgrid-data-cdk/add-or-update

#59 feat(unleash): upgrade unleash to 5.6.10
  .docker/postgres-resources/init-featureflags-db.sh
  docker-compose.yml
  pnpm-lock.yaml
  servers/feature-flags/package.json
  servers/feature-flags/src/admin/jwtAuthHook.ts
  servers/feature-flags/src/config/index.ts
  servers/feature-flags/src/utils/customErrors.ts
  servers/feature-flags/tsconfig.json
Labels: shared-snowplow-consumer-cdk/add-or-update, parser-graphql-wrapper-cdk/add-or-update, annotations-api-cdk/add-or-update, image-api-cdk/add-or-update, transactional-emails-cdk/no-changes, fxa-webhook-proxy-cdk/destroy, user-api-cdk/add-or-update, list-api-cdk/destroy, feature-flags-cdk/add-or-update

#65 feat(annotations): add batchWriteHighlights mutation
  pnpm-lock.yaml
  servers/annotations-api/package.json
  servers/annotations-api/schema.graphql
  servers/annotations-api/src/dataservices/highlights.ts
  servers/annotations-api/src/resolvers.ts
  servers/annotations-api/src/test/mutation/highlights-batchwrite.integration.ts
  servers/annotations-api/src/test/mutation/highlights-create.integration.ts
  servers/annotations-api/src/test/mutation/highlights-mutations.ts
  servers/annotations-api/src/types.ts
  servers/annotations-api/tsconfig.json
Labels: shared-snowplow-consumer-cdk/add-or-update, parser-graphql-wrapper-cdk/add-or-update, annotations-api-cdk/add-or-update, image-api-cdk/add-or-update, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, user-api-cdk/add-or-update, list-api-cdk/destroy, feature-flags-cdk/add-or-update

#69 chore(list): making list reuse appspec if it exists
  infrastructure/list-api/src/main.ts
  servers/list-api/src/config/index.ts
Labels: list-api-cdk/destroy

#75 chore(config): removing old config options from list
  servers/list-api/src/config/index.ts
  servers/list-api/src/test/graphql/mutations/savedItemsMutationService-delete.integration.ts
Labels: list-api-cdk/destroy

#71 chore(cleanup): scale back up annotations-api
  infrastructure/annotations-api/src/config/index.ts
  infrastructure/annotations-api/src/main.ts
Labels: annotations-api-cdk/add-or-update

#76 feat: expose public collection api query vars in studio
  servers/client-api/config/router.yaml
Labels: client-api-cdk/destroy

#78 fix(docker): adding in account data deleter docker build
  .circleci/account-data-deleter.yml
  .circleci/config.yml
  infrastructure/account-data-deleter/src/lambda/base/sqsLambda.ts
  infrastructure/account-data-deleter/src/lambda/batchDeleteLambdaResources.ts
Labels: account-data-deleter-cdk/add-or-update

#85 fix(tests): updating tests to be non deterministic
  .circleci/common.yml
  .docker/mysql-8-resources/conf/local_dev.cnf
  docker-compose.yml
  pnpm-lock.yaml
  servers/account-data-deleter/jest.config.js
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/routes/queueDelete.integration.ts
  servers/account-data-deleter/tsconfig.json
Labels: shared-snowplow-consumer-cdk/add-or-update, parser-graphql-wrapper-cdk/add-or-update, annotations-api-cdk/add-or-update, image-api-cdk/add-or-update, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, user-api-cdk/add-or-update, list-api-cdk/destroy, feature-flags-cdk/add-or-update, account-data-deleter-cdk/add-or-update

#86 fix(list-api): switching off list-api codepipeline
  infrastructure/list-api/src/main.ts
Labels: list-api-cdk/destroy

#90 fix(deleter): turn off the background deleter
  servers/account-data-deleter/src/routes/queueDelete.integration.ts
  servers/account-data-deleter/src/server.ts
Labels: account-data-deleter-cdk/add-or-update

#89 fix(prisma): add cp to after prunning
  Dockerfile
  pnpm-lock.yaml
  servers/shareable-lists-api/package.json
Labels: shared-snowplow-consumer-cdk/add-or-update, parser-graphql-wrapper-cdk/add-or-update, annotations-api-cdk/add-or-update, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, feature-flags-cdk/add-or-update, account-data-deleter-cdk/add-or-update, shareable-lists-api-cdk/destroy, list-api-cdk/add-or-update, user-api-cdk/no-changes, account-delete-monitor-cdk/add-or-update

#96 fix(terraform-modules): ensuring that the modules does not synth
  packages/terraform-modules/package.json
Labels: shared-snowplow-consumer-cdk/add-or-update, parser-graphql-wrapper-cdk/add-or-update, annotations-api-cdk/add-or-update, image-api-cdk/add-or-update, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, user-api-cdk/add-or-update, feature-flags-cdk/add-or-update, account-data-deleter-cdk/add-or-update, shareable-lists-api-cdk/destroy, list-api-cdk/add-or-update, account-delete-monitor-cdk/add-or-update

#94 feat(event-bridge): import of Pocket Eventbridge from 4700ffd8125e4d244bfdda6165a8b2df707b820b
  .circleci/common.yml
  .circleci/config.yml
  .circleci/pocket-event-bridge.yml
  infrastructure/pocket-event-bridge/.eslintrc.js
  infrastructure/pocket-event-bridge/.terraform-version
  infrastructure/pocket-event-bridge/cdktf.json
  infrastructure/pocket-event-bridge/package.json
  infrastructure/pocket-event-bridge/src/README.md
  infrastructure/pocket-event-bridge/src/config/index.ts
  infrastructure/pocket-event-bridge/src/event-rules/account-delete-monitor/config.ts
  infrastructure/pocket-event-bridge/src/event-rules/account-delete-monitor/index.ts
  infrastructure/pocket-event-bridge/src/event-rules/collection-events/collectionApiEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/collection-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/list-api-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/list-api-events/listApiEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/premium-purchase/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/premium-purchase/index.ts
  infrastructure/pocket-event-bridge/src/event-rules/prospect-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/prospect-events/prospectEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/shareable-lists-api-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/shareable-lists-api-events/shareableListEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/shareable-lists-api-events/shareableListItemEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/user-api-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/user-api-events/userApiEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/user-registration/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/user-registration/userRegistrationEventRule.ts
  infrastructure/pocket-event-bridge/src/event-rules/utils.ts
  infrastructure/pocket-event-bridge/src/events-schema/ForgotPasswordRequestEvent.ts
  infrastructure/pocket-event-bridge/src/events-schema/premiumPurchaseEvent.ts
  infrastructure/pocket-event-bridge/src/events-schema/queueCheckDelete.ts
  infrastructure/pocket-event-bridge/src/events-schema/types.ts
  infrastructure/pocket-event-bridge/src/events-schema/userEvents.ts
  infrastructure/pocket-event-bridge/src/events-schema/userMergeEvent.ts
  infrastructure/pocket-event-bridge/src/events-schema/userRegistrationEventSchema.ts
  infrastructure/pocket-event-bridge/src/main.ts
  infrastructure/pocket-event-bridge/tsconfig.json
  pnpm-lock.yaml
  servers/annotations-api/src/main.ts
  servers/shareable-lists-api/src/express.ts
Labels: shared-snowplow-consumer-cdk/add-or-update, parser-graphql-wrapper-cdk/add-or-update, annotations-api-cdk/add-or-update, image-api-cdk/add-or-update, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, user-api-cdk/add-or-update, feature-flags-cdk/add-or-update, account-data-deleter-cdk/add-or-update, shareable-lists-api-cdk/destroy, list-api-cdk/add-or-update, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/destroy

#98 fix(appspec): making event bridge not save appsepc
  .circleci/config.yml
  .circleci/pocket-event-bridge.yml
  infrastructure/pocket-event-bridge/src/README.md
Labels: pocket-event-bridge-cdk/add-or-update

#100 fix(client-api): do not set headers to empty string
  servers/client-api/rhai/claims_forwarding.rhai
Labels: client-api-cdk/destroy

#99 chore(tests): update test coverage of fxa
  lambdas/fxa-webook-proxy-sqs/src/config.ts
  lambdas/fxa-webook-proxy-sqs/src/jwt.ts
  servers/shared-snowplow-consumer/src/eventConsumer/userEvents/userEventConsumer.spec.ts
  servers/user-api/src/context.ts
  servers/user-api/src/test/functional/context.integration.ts
  servers/user-api/src/test/functional/mutations-appleMigration.integration.ts
  servers/user-api/src/test/functional/mutations-delete.integration.ts
  servers/user-api/src/test/functional/mutations-updateEmail.integration.ts
Labels: shared-snowplow-consumer-cdk/add-or-update, user-api-cdk/add-or-update

#102 feat(shareablelists): uniquenes logic in db model
  servers/shareable-lists-api/prisma/migrations/20240124212856_item_unique_per_list/migration.sql
  servers/shareable-lists-api/prisma/schema.prisma
Labels: shareable-lists-api-cdk/destroy

#103 fix(shareablelists): use db for uuid generation
  servers/shareable-lists-api/prisma/migrations/20240124225016_db_default_uuid/migration.sql
  servers/shareable-lists-api/prisma/schema.prisma
Labels: shareable-lists-api-cdk/destroy

#101 chore(deps): updating all dev dependencies
  README.md
  infrastructure/shareable-lists-api/src/main.ts
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/account-data-deleter-events/package.json
  lambdas/account-delete-monitor/package.json
  lambdas/annotations-api-events/package.json
  lambdas/fxa-webook-proxy-gateway/package.json
  lambdas/fxa-webook-proxy-sqs/package.json
  lambdas/sendgrid-data/package.json
  lambdas/shareable-lists-api-events/package.json
  lambdas/transactional-emails/package.json
  packages/apollo-utils/package.json
  packages/backend-benchmarking/package.json
  packages/eslint-config-custom/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/annotations-api/package.json
  servers/annotations-api/src/server/index.ts
  servers/annotations-api/src/test/mutation/highlights-batchwrite.integration.ts
  servers/annotations-api/src/test/mutation/highlights-create.integration.ts
  servers/annotations-api/src/test/mutation/highlights-delete.integration.ts
  servers/annotations-api/src/test/mutation/highlights-update-deprecated.integration.ts
  servers/annotations-api/src/test/mutation/highlights-update.integration.ts
  servers/annotations-api/src/test/mutation/notes-create.integration.ts
  servers/annotations-api/src/test/mutation/notes-delete.integration.ts
  servers/annotations-api/src/test/mutation/notes-update.integration.ts
  servers/annotations-api/src/test/query/highlights.integration.ts
  servers/annotations-api/src/test/query/notes.integration.ts
  servers/feature-flags/package.json
  servers/feature-flags/src/index.ts
  servers/image-api/package.json
  servers/list-api/package.json
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/datasources/parserApi.integration.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.integration.ts
  servers/parser-graphql-wrapper/src/server.ts
  servers/parser-graphql-wrapper/src/shortUrl/shortUrl.integration.ts
  servers/parser-graphql-wrapper/src/ssml/ssml.integration.ts
  servers/parser-graphql-wrapper/src/timeToRead/timeToRead.integration.ts
  servers/shareable-lists-api/package.json
  servers/shareable-lists-api/src/admin/resolvers/mutations/ShareableList.integration.ts
  servers/shareable-lists-api/src/admin/resolvers/queries/ShareableList.auth.integration.ts
  servers/shareable-lists-api/src/admin/resolvers/queries/ShareableList.integration.ts
  servers/shareable-lists-api/src/config/index.ts
  servers/shareable-lists-api/src/express.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableList.integration.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableListItem.integration.ts
  servers/shareable-lists-api/src/public/resolvers/queries/PilotUser.integration.ts
  servers/shareable-lists-api/src/public/resolvers/queries/ShareableList.integration.ts
  servers/shareable-lists-api/src/public/routes/deleteUserData.integration.ts
  servers/shared-snowplow-consumer/package.json
  servers/user-api/package.json
  servers/user-api/src/test/functional/mutations-appleMigration.integration.ts
  servers/user-api/src/test/functional/mutations-delete.integration.ts
  servers/user-api/src/test/functional/mutations-updateEmail.integration.ts
Labels: shared-snowplow-consumer-cdk/add-or-update, parser-graphql-wrapper-cdk/add-or-update, annotations-api-cdk/add-or-update, image-api-cdk/add-or-update, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, user-api-cdk/add-or-update, feature-flags-cdk/add-or-update, sendgrid-data-cdk/destroy, account-data-deleter-cdk/add-or-update, shareable-lists-api-cdk/destroy, list-api-cdk/add-or-update, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update

#107 fix(sha1): specifiying the git sha1 in the task definition
  infrastructure/account-data-deleter/src/config/index.ts
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/annotations-api/src/config/index.ts
  infrastructure/annotations-api/src/main.ts
  infrastructure/client-api/src/config/index.ts
  infrastructure/client-api/src/main.ts
  infrastructure/feature-flags/src/config/index.ts
  infrastructure/feature-flags/src/main.ts
  infrastructure/image-api/src/config/index.ts
  infrastructure/image-api/src/main.ts
  infrastructure/list-api/src/config/index.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/config/index.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/shareable-lists-api/src/config/index.ts
  infrastructure/shareable-lists-api/src/main.ts
  infrastructure/shared-snowplow-consumer/src/config/index.ts
  infrastructure/shared-snowplow-consumer/src/sharedSnowplowConsumerApp.ts
  infrastructure/transactional-emails/src/transactionalEmailSQSLambda.ts
  infrastructure/user-api/src/config/index.ts
  infrastructure/user-api/src/main.ts
  packages/terraform-modules/src/base/ApplicationECSContainerDefinition.ts
  packages/terraform-modules/src/base/ApplicationECSService.spec.ts
  packages/terraform-modules/src/base/ApplicationECSService.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationECSService.spec.ts.snap
  packages/terraform-modules/src/pocket/__snapshots__/PocketALBApplication.spec.ts.snap
  packages/terraform-modules/src/pocket/__snapshots__/PocketECSApplication.spec.ts.snap
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, client-api-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update

#104 fix(account-deleter): turn back on account deletion
  servers/account-data-deleter/src/server.ts
Labels: account-data-deleter-cdk/destroy

#105 chore(deps): updating patch version deps
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/account-data-deleter-events/package.json
  lambdas/account-delete-monitor/package.json
  lambdas/annotations-api-events/package.json
  lambdas/fxa-webook-proxy-gateway/package.json
  lambdas/fxa-webook-proxy-sqs/package.json
  lambdas/sendgrid-data/package.json
  lambdas/shareable-lists-api-events/package.json
  lambdas/transactional-emails/package.json
  package.json
  packages/apollo-utils/package.json
  packages/terraform-modules/package.json
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/annotations-api/package.json
  servers/feature-flags/package.json
  servers/image-api/package.json
  servers/list-api/package.json
  servers/parser-graphql-wrapper/package.json
  servers/shareable-lists-api/package.json
  servers/shared-snowplow-consumer/package.json
  servers/user-api/package.json
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, sendgrid-data-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update

#113 feat(list): enable users to update title of a save
  servers/list-api/schema.graphql
  servers/list-api/src/businessEvents/types.ts
  servers/list-api/src/dataService/savedItemsService.ts
  servers/list-api/src/models/SavedItem.ts
  servers/list-api/src/resolvers/index.ts
  servers/list-api/src/test/graphql/mutations/savedItem/savedItemUpdateTitle.integration.ts
Labels: list-api-cdk/destroy

#114 fix(list): resolve title on pagination query
  servers/list-api/src/dataService/listPaginationService.ts
  servers/list-api/src/test/graphql/queries/savedItems.integration.ts
Labels: list-api-cdk/destroy

#115 fix(plugins): ensure standard apollo and sentry usage
  .vscode/settings.json
  packages/apollo-utils/package.json
  packages/apollo-utils/src/errorHandler/errorHandler.spec.ts
  packages/apollo-utils/src/express/sentryMiddleware.ts
  packages/apollo-utils/src/index.ts
  packages/apollo-utils/src/plugins/defaultPlugin.ts
  packages/apollo-utils/src/sentry/apolloSentryPlugin.ts
  packages/apollo-utils/src/sentry/expressSentryMiddleware.ts
  packages/apollo-utils/src/sentry/initSentry.ts
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/server.ts
  servers/annotations-api/src/server/index.ts
  servers/feature-flags/src/graphql/index.ts
  servers/feature-flags/src/index.ts
  servers/image-api/src/resolvers/query.integration.ts
  servers/image-api/src/server/apollo.ts
  servers/list-api/src/server/apollo.ts
  servers/list-api/src/test/graphql/mutations/createSavedItemTagsMutation.integration.ts
  servers/list-api/src/test/graphql/mutations/save-archive.integration.ts
  servers/list-api/src/test/graphql/mutations/save-favorite.integration.ts
  servers/list-api/src/test/graphql/mutations/save-unarchive.integration.ts
  servers/list-api/src/test/graphql/mutations/save-unfavorite.integration.ts
  servers/list-api/src/test/graphql/mutations/saveBatchUpdateTags.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItem/savedItemArchive.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItem/savedItemDelete.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItem/savedItemFavorite.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItem/savedItemTag.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItem/savedItemUnArchive.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItem/savedItemUnDelete.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItem/savedItemUnFavorite.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItem/savedItemUpdateTitle.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemsMutationService-delete.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemsMutationService-updates.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemsMutationService-upsert.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsMutationService-delete.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsMutationService-replaceSavedItemTags.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsMutationService-update.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsMutationService-updateSavedItemTags.integration.ts
  servers/list-api/src/test/graphql/queries/curatedItem.integration.ts
  servers/list-api/src/test/graphql/queries/item.integration.ts
  servers/list-api/src/test/graphql/queries/pagination-benchmarking.integration.ts
  servers/list-api/src/test/graphql/queries/pocketSave-item.integration.ts
  servers/list-api/src/test/graphql/queries/pocketSave-tags.integration.ts
  servers/list-api/src/test/graphql/queries/pocketSave.integration.ts
  servers/list-api/src/test/graphql/queries/savedItem.integration.ts
  servers/list-api/src/test/graphql/queries/savedItems-archive-pagination.integration.ts
  servers/list-api/src/test/graphql/queries/savedItems-filters.integration.ts
  servers/list-api/src/test/graphql/queries/savedItems.integration.ts
  servers/list-api/src/test/graphql/queries/saveditem-tags.integration.ts
  servers/list-api/src/test/graphql/queries/suggested-tags.integration.ts
  servers/list-api/src/test/graphql/queries/tags.integration.ts
  servers/parser-graphql-wrapper/src/server.ts
  servers/shareable-lists-api/src/admin/server.ts
  servers/shareable-lists-api/src/express.ts
  servers/shareable-lists-api/src/public/server.ts
  servers/shared-snowplow-consumer/src/server.ts
  servers/user-api/src/apollo.ts
  servers/user-api/src/server.ts
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update

#117 fix(redis): make parser graphql wrapper not prone to redis issues
  packages/apollo-utils/src/cache/DataloaderKeyValueCache.ts
  packages/apollo-utils/src/cache/ElasticacheRedis.spec.ts
  packages/apollo-utils/src/cache/ElasticacheRedis.ts
  packages/apollo-utils/src/cache/interface.ts
  packages/apollo-utils/src/dataloader.spec.ts
  packages/apollo-utils/src/dataloader.ts
  packages/apollo-utils/src/index.ts
  packages/apollo-utils/src/sentry/apolloSentryPlugin.ts
  pnpm-lock.yaml
  servers/image-api/src/cache/index.ts
  servers/image-api/src/dataLoaders/imageLoader.ts
  servers/image-api/src/resolvers/query.integration.ts
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/cache/index.ts
  servers/parser-graphql-wrapper/src/dataLoaders/articleLoader.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.integration.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.spec.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.integration.ts
  servers/parser-graphql-wrapper/src/shortUrl/shortUrl.integration.ts
  servers/parser-graphql-wrapper/src/ssml/ssml.integration.ts
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update

#123 chore(state): moving state generation and use to s3
  .circleci/account-data-deleter.yml
  .circleci/account-delete-monitor.yml
  .circleci/annotations-api.yml
  .circleci/client-api.yml
  .circleci/common.yml
  .circleci/feature-flags.yml
  .circleci/fxa-webhook-proxy.yml
  .circleci/image-api.yml
  .circleci/list-api.yml
  .circleci/parser-graphql-wrapper.yml
  .circleci/pocket-event-bridge.yml
  .circleci/sendgrid-data.yml
  .circleci/shareable-lists-api.yml
  .circleci/shared-snowplow-consumer.yml
  .circleci/transactional-emails.yml
  .circleci/user-api.yml
  .gitignore
  infrastructure/account-data-deleter/src/main.ts
  infrastructure/account-delete-monitor/src/main.ts
  infrastructure/annotations-api/src/main.ts
  infrastructure/client-api/src/main.ts
  infrastructure/feature-flags/src/main.ts
  infrastructure/fxa-webhook-proxy/src/main.ts
  infrastructure/image-api/src/main.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/pocket-event-bridge/src/main.ts
  infrastructure/sendgrid-data/src/main.ts
  infrastructure/shareable-lists-api/src/main.ts
  infrastructure/shared-snowplow-consumer/src/main.ts
  infrastructure/transactional-emails/src/main.ts
  infrastructure/user-api/src/main.ts
  scripts/sync-tfstate-to-s3.sh
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, list-api-cdk/destroy, feature-flags-cdk/destroy, client-api-cdk/destroy, sendgrid-data-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update

#108 feat(shareable-lists): bulk add items
  infrastructure/pocket-event-bridge/src/README.md
  infrastructure/shareable-lists-api/src/main.ts
  pnpm-lock.yaml
  servers/shareable-lists-api/.env.ci
  servers/shareable-lists-api/.env.example
  servers/shareable-lists-api/jest.config.js
  servers/shareable-lists-api/package.json
  servers/shareable-lists-api/prisma/schema.prisma
  servers/shareable-lists-api/prisma/seed.ts
  servers/shareable-lists-api/schema-public.graphql
  servers/shareable-lists-api/src/admin/context.ts
  servers/shareable-lists-api/src/admin/resolvers/index.ts
  servers/shareable-lists-api/src/admin/resolvers/mutations/ShareableList.ts
  servers/shareable-lists-api/src/admin/resolvers/queries/ShareableList.ts
  servers/shareable-lists-api/src/config/index.ts
  servers/shareable-lists-api/src/database/client.ts
  servers/shareable-lists-api/src/database/index.ts
  servers/shareable-lists-api/src/database/mutations/ShareableList.ts
  servers/shareable-lists-api/src/database/mutations/ShareableListItem.ts
  servers/shareable-lists-api/src/database/queries.ts
  servers/shareable-lists-api/src/database/queries/ShareableListItems.ts
  servers/shareable-lists-api/src/database/types.ts
  servers/shareable-lists-api/src/public/context.ts
  servers/shareable-lists-api/src/public/resolvers/index.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableList.integration.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableList.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableListItem.integration.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableListItem.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/sample-mutations.gql.ts
  servers/shareable-lists-api/src/public/resolvers/queries/PilotUser.ts
  servers/shareable-lists-api/src/public/resolvers/queries/ShareableList.integration.ts
  servers/shareable-lists-api/src/public/resolvers/queries/ShareableList.ts
  servers/shareable-lists-api/src/public/resolvers/utils.ts
  servers/shareable-lists-api/src/shared/resolvers/fields/ShareableList.ts
  servers/shareable-lists-api/src/shared/types.ts
  servers/shareable-lists-api/src/test/helpers/createShareableListHelper.ts
  servers/shareable-lists-api/src/test/helpers/createShareableListItemHelper.ts
  servers/shareable-lists-api/tsconfig.json
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update

#109 feat(auroav2): converting to aurora v2
  infrastructure/shareable-lists-api/src/config/index.ts
  infrastructure/shareable-lists-api/src/main.ts
  packages/terraform-modules/src/base/ApplicationRDSCluster.ts
  scripts/convert-auroraV1-to-V2.sh
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update

#126 feat(shareable-lists): create and bulk add to shareable list
  servers/shareable-lists-api/schema-public.graphql
  servers/shareable-lists-api/src/database/index.ts
  servers/shareable-lists-api/src/database/mutations/ShareableList.ts
  servers/shareable-lists-api/src/database/mutations/ShareableListItem.ts
  servers/shareable-lists-api/src/database/types.ts
  servers/shareable-lists-api/src/public/resolvers/index.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableList.integration.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableList.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/sample-mutations.gql.ts
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update

#130 chore(release): release terraform-modules from this repository
  .github/workflows/publish.yml
  package.json
  packages/terraform-modules/CHANGELOG.md
  packages/terraform-modules/package.json
  packages/terraform-modules/src/base/ApplicationECSContainerDefinition.ts
  pnpm-lock.yaml
  turbo.json
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update

#131 chore(release): removing pushing back a changelog
  packages/terraform-modules/CHANGELOG.md
  packages/terraform-modules/package.json
  pnpm-lock.yaml
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update

#132 chore(release): removing dry run
  packages/terraform-modules/package.json
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/no-changes, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/no-changes, pocket-event-bridge-cdk/add-or-update

#133 fix(build): ensuring the packages build themselves before releasing
  pnpm-lock.yaml
  turbo.json
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/add-or-update, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update

#135 fix(release): releasing apollo-utils from monorepo
  packages/apollo-utils/package.json
  pnpm-lock.yaml
Labels: image-api-cdk/destroy, annotations-api-cdk/destroy, user-api-cdk/destroy, shared-snowplow-consumer-cdk/destroy, parser-graphql-wrapper-cdk/destroy, transactional-emails-cdk/no-changes, fxa-webhook-proxy-cdk/destroy, list-api-cdk/destroy, feature-flags-cdk/destroy, account-data-deleter-cdk/destroy, shareable-lists-api-cdk/destroy, account-delete-monitor-cdk/add-or-update, pocket-event-bridge-cdk/add-or-update

#136 fix(annotation-api): updating the annotations transactions to await
  servers/annotations-api/src/dataservices/highlights.ts
Labels: annotations-api-cdk/destroy
